<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>CL</span>
            </div>

            <div class="title">Invitation From: {{vm.invite.organization.name}}</div>
            
            <div class="title">
            	Choose this option to:
            </div>
            		
            <div>
            	<ul>
            	<li>Keep existing username/password</li>
            	<li>Leave current Org</li>
            	<li>Lose access to current Org info</li>
            	<li>Keep only Contacts &amp; Direct Messages</li>
            	</ul>
            </div>

            <form name="loginForm" novalidate ng-submit="vm.acceptInvite.login()">
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.acceptInvite.signin.username" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.acceptInvite.signin.password" placeholder="Password" required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

               <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Accept Invitation"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine">
                    ACCEPT INVITATION
                </md-button>
            </form>
        </div>
    </div>
</div>


<div id="register" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>CL</span>
            </div>

            <div class="title" translate="ACCOUNT.TITLE">Create New Account</div>	
            
            <div ng-if="!vm.create.success">

            <form name="registerForm" novalidate ng-submit="vm.acceptInvite.signup()">
                <md-input-container class="md-block" md-no-float>
                    <input name="first" ng-model="vm.acceptInvite.reg.contact.name.first" placeholder="First Name"
                           translate translate-attr-placeholder="ACCOUNT.FIRST"
                           required>
                    <div ng-messages="registerForm.first.$error" role="alert">
                        <div ng-message="required">
                            <span translate="ACCOUNT.ERRORS.FIRSTNAME_REQUIRED">First Name field is required</span>
                        </div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block" md-no-float>
                    <input name="last" ng-model="vm.acceptInvite.reg.contact.name.last" placeholder="Last Name"
                           translate translate-attr-placeholder="ACCOUNT.LAST"
                           required>
                    <div ng-messages="registerForm.last.$error" role="alert">
                        <div ng-message="required">
                            <span translate="ACCOUNT.ERRORS.LASTNAME_REQUIRED">Last Name field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.acceptInvite.reg.contact.email" placeholder="Email"
                           translate translate-attr-placeholder="ACCOUNT.EMAIL"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="registerForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="ACCOUNT.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="ACCOUNT.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.acceptInvite.reg.password" placeholder="Password"
                           translate translate-attr-placeholder="ACCOUNT.PASSWORD"
                           required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="ACCOUNT.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password2" ng-model="vm.acceptInvite.reg.password2"
                           placeholder="Password (Confirm)"
                           translate translate-attr-placeholder="ACCOUNT.PASSWORD_CONFIRM"
                           required>
                    <div ng-messages="registerForm.password2.$error" role="alert">
                        <div ng-message="required">
                            <span translate="ACCOUNT.ERRORS.PASSWORD_CONFIRM_REQUIRED">Password (Confirm) field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="ACCEPT INVITATION"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine"
                           translate="ACCOUNT.ACCEPT_INVITATION"
                           translate-attr-aria-label="ACCOUNT.ACCEPT_INVITATION">
                    ACCEPT INVITATION
                </md-button>
            </form>

        </div>