<md-dialog class="dialog" aria-label="Show Linked Users">
<form name="checklistForm" class="md-inline-form" novalidate target="_blank" method="post" action="http://wdc1.acapqa.net:8081/dist/dpdf/checklinked.php">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{ vm.title }}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

		<!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

<div  id="pdfContent">

<table class="simple">
	<colgroup>
            <col width="10%">
                <col width="80%">
                    <col width="10%">
        </colgroup>
    <tbody>
        <tr ng-repeat-start="checklist in vm.checklists track by $index">
        	<td>&nbsp;</td>
            <td>
               {{checklist.name}}
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr ng-repeat-start="section in checklist.sections track by $index">
        	<td>&nbsp;</td>
            <td>
                {{section.name}}
            </td>
            <td>&nbsp;</td>
        </tr>
		<tr ng-repeat-start="heading in section.headings track by $index">
			<td>&nbsp;</td>
            <td>
                {{heading.name}}
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr ng-repeat-end ng-repeat="item in heading.items">
        	<td>COMPLY</td>
            	<td>
                {{item.name}}
            </td>
           <td>APPLY</td>
        </tr>
        <tr ng-repeat-end><td></td><td></td><td></td></tr>
          <tr ng-repeat-end><td></td><td></td><td></td></tr>
    </tbody>
</table>

</div>

	</md-dialog-content>

<md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
            	<input type="hidden" name="array" value="{{ vm.checklists }}">
                <md-button type="submit"
                           class="send-button md-accent md-raised"
                           aria-label="Save" translate="CHECKLIST.DOWNLOAD_PDF" translate-attr-aria-label="CHECKLIST.DOWNLOAD_PDF">
                    DOWNLOAD PDF
                </md-button>
             </div>

        </md-dialog-actions>

</md-dialog>
