<md-dialog class="dialog" aria-label="">
  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span class="title">Conflicts: {{ vm.checklists[0].name }}</span>
      <md-button class="md-icon-button custom_close" ng-click="vm.closeConfilicts()">
      Close Confilicts
      </md-button>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- DIALOG CONTENT -->
  <md-dialog-content>

    <table class="simple" ms-responsive-table>
      <thead>
      <tr>
        <th>User</th>
        <th class="">Non-Compliant Items</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="show in showingUsers track by $index">
        <td class="">{{(show.idCON == user.idCON)?user.name.full + ' (YOU)':show.name}}</td>
        <td class="">{{vm.nonCompliant[$index]}}</td>
      </tr>
      </tbody>
    </table>

  </md-dialog-content>
</md-dialog>
