<div class="no-threads " ng-if="vm.threads.length === 0">You have no notifications in <span class="text-capitalized">'{{vm.currentFilter.filter}}'</span>
</div>
<div class="loading-threads" layout="column" layout-align="center center" ng-if="!vm.threads && vm.loadingThreads">
  <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
  <div>Loading your mails...</div>
</div>

<div class="thread {{thread.status}}" md-ink-ripple
     ng-if="!vm.loadingThreads"
     ng-repeat="thread in vm.outboxThreads | filter: vm.search | filter: globalSearch.searchTerm track by $index"
     ng-click=""
     ng-class="{'unread': !thread.read, 'current-thread': vm.currentThread === thread, 'selected': vm.isSelected(thread)}">

  <div layout="row" layout-align="start top">

    <div class="info" flex layout="column">

      <div class="sender" layout="row" layout-align="start center">
        <span class="text-truncate">{{thread.user}}</span>
      </div>

      <div class="organization" layout="row" layout-align="start center">
        <span class="text-truncate">{{thread.organization}}</span>
      </div>

      <div class="message text-truncate">
        {{thread.text | limitTo:50}}{{thread.text.length > 50 ? '...' : ''}}
        <div>
          <div class="labels">
            <div class="label" ng-repeat="labelId in thread.labels track by $index"
                 ng-class="vm.getLabelColor(labelId)">{{ vm.getLabelTitle(labelId) }}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div layout="column" layout-align="space-between end">
      <div class="time">{{thread.timestamp | date : "short"}}</div>
    </div>
  </div>

</div>
