<md-dialog class="dialog" aria-label="New Folder">
    <form name="archieveForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

          <md-input-container class="md-block">
                <label translate="FOLDER.ARCHIEVE_NAME"></label>
                <input name="name" ng-model="vm.archieve.name" required md-autofocus>
                <div ng-messages="archieveForm.name.$error" ng-show="archieveForm.name.$touched" role="alert">
                    <div ng-message="required">
                        <span translate="FOLDER.ERRORS.FOLDER_NAME_REQUIRED">Workflow Name field is required</span>
                    </div>
                </div>
          </md-input-container>

      

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit"
                           ng-click="vm.saveArchieve()"
                           class="md-raised md-accent"
                           ng-disabled="archieveForm.$invalid || archieveForm.$pristine || vm.archieveResponse"
                           aria-label="Save"
                            >Save Archieve</md-button>
                          <i class="fa fa-spinner fa-spin" ng-if="vm.spinner" style="font-size:20px"></i>
             </div>

        </md-dialog-actions>
    </form>
</md-dialog>
