<ul>
   <i class="fa fa-angle-{{vm.folded ? 'right' : 'left'}}  s16 side-toggle pl-30" ng-click="vm.toggleMsNavigationFolded()"></i>
  
  <li ng-repeat="node in vm.navigation" ms-navigation-node="node" ng-class="{'collapsed': vm.collapsed, 'has-children': vm.hasChildren}"
    ng-include="'navigation-nested.html'"></li>


</ul>
<!-- Nested navigation template -->
<script type="text/ng-template" id="navigation-nested.html">

  <div ms-navigation-item layout="row" ng-if="!vm.isHidden()">


    <a class="ms-navigation-button {{node.title}}" ng-clsss="node.title" ui-sref="{{node.uisref}}" ui-sref-active="active md-accent-bg"
       ng-if="node.uisref && node.title"
       ng-hide="vm.appState == 'app.queue' && vm.showQueue == 'false'">

     <i class="fa s16 fa-{{node.icon}} "  ng-if="node.icon"></i>
      <span class="title {{node.title}}" translate="{{node.translate}}" flex>{{node.title}}</span>
      <span class="badge white-fg"  ng-if="total &&  total > 0 && node.title=='Communicate'" style="background-color:green !important; color:#fff !important;">{{total}}</span>
     
      <i class="icon-chevron-right s16 arrow" ng-if="vm.collapsable && vm.hasChildren"></i>
    </a>

  </div>

  <ul ng-if="vm.hasChildren && !vm.isHidden()">
    <li ng-repeat="node in node.children" ms-navigation-node="node"
        ng-class="{'collapsed': vm.collapsed, 'has-children': vm.hasChildren}"
        ng-include="'navigation-nested.html'"></li>
  </ul>
</script>
<!-- / Nested navigation template -->