
<md-dialog class="dialog" aria-label="Organizations Information">
        <md-toolbar class="md-accent md-hue-2">
          <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span class="title">{{vm.title}}</span> 
            <md-button class="md-icon-button" ng-disabled="vm.user.organizationError ? true : false" ng-click="vm.closeDialog()">
              <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
<div class="oganization-form">

  <form name="form" ng-disabled='vm.update.sending' class="md-inline-form" ng-submit="vm.update()" novalidate>

    <div layout="column" layout-gt-sm="row">
      <md-input-container flex>
        <input type="text" name="name" ng-model="vm.orgTmp.name" placeholder="Name"
               required>
        <div ng-messages="form.name.$error"
             role="alert">
          <div ng-message="required">
            <span>Organization Name is required.</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <input type="text" name="phone" ng-model="vm.orgTmp.phone" placeholder="Phone">
      </md-input-container>
    </div>

    <div layout="column" layout-gt-sm="row">

      <md-input-container flex>
        <input type="email" name="email" ng-model="vm.orgTmp.email" placeholder="Email"
               ng-pattern="/^.+@.+\..+$/" required>
        <div ng-messages="form.email.$error"
             role="alert" multiple="multiple">
          <div ng-message="required" style="opacity: 1; margin-top: 0px;">
            <span>Email Address is required</span>
          </div>
          <div ng-message="pattern" style="opacity: 1; margin-top: 0px;">
            <span>Email Address must be a valid e-mail address</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <input type="text" name="website" required ng-model="vm.orgTmp.website" placeholder="website">
            <div ng-messages="form.website.$error" role="alert">
              <div ng-message="required">
                <span>Website is required.</span>
              </div>
            </div>
     
      </md-input-container>

    </div>

    <div layout="column" layout-gt-sm="row">

      <md-input-container flex>
        <input type="text" name="address_line1" ng-model="vm.orgTmp.address.line1" placeholder="Address Line 1"
               required>
        <div ng-messages="form.address_line1.$error"
             role="alert">
          <div ng-message="required">
            <span>Address is required.</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <input type="text" name="address_line2" ng-model="vm.orgTmp.address.line2" placeholder="Address Line 2">
      </md-input-container>

    </div>

    <div layout="column" layout-gt-sm="row">

      <md-input-container flex>
        <input type="text" name="address_city" ng-model="vm.orgTmp.address.city" placeholder="City"
               required>
        <div ng-messages="form.address_city.$error"
             role="alert">
          <div ng-message="required">
            <span>City is required.</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <input type="text" name="address_state" ng-model="vm.orgTmp.address.state" placeholder="State "
               required>
        <div ng-messages="form.address_state.$error"
             role="alert">
          <div ng-message="required">
            <span>State is required.</span>
          </div>
        </div>
      </md-input-container>

    </div>

    <div layout="column" layout-gt-sm="row">

      <md-input-container flex>
        <input type="text" name="address_zip" ng-model="vm.orgTmp.address.zip" placeholder="Zip"
               required>
        <div ng-messages="form.address_zip.$error"
             role="alert">
          <div ng-message="required">
            <span>Zip Code is required.</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <input type="text" name="address_country" ng-model="vm.orgTmp.address.country" placeholder="Country"
               required>
        <div ng-messages="form.address_country.$error"
             role="alert">
          <div ng-message="required">
            <span>Country is required.</span>
          </div>
        </div>
      </md-input-container>

    </div>

    <div layout="column" layout-gt-sm="row">
    
      <md-input-container flex>
        <textarea name="address_zip" ng-model="vm.orgTmp.description" placeholder="Description of Organization"></textarea>
      </md-input-container>
    </div>
  <div flex="90" padding class="pt-20">
    <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
      ng-disabled="form.$invalid || form.$pristine || vm.update.sending">
      <span ng-hide='vm.update.sending'>Save</span>
      <span ng-show='vm.update.sending'>Updating...</span>
    </md-button>

    <md-button type="button" class="md-raised md-accent link" aria-label="link">
      <span>Insert Link</span>
    </md-button>
 </div>
  </form>

</div>

</md-dialog>
