
<md-dialog class="dialog" aria-label="Organizations Information">
        <md-toolbar class="md-accent md-hue-2">
          <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span class="title">{{vm.title}}</span> 
            <!-- <md-button class="md-icon-button" ng-disabled="vm.user.organizationError ? true : false" ng-click="vm.closeDialog()">
              <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button> -->

            <md-button class="md-icon-button"  ng-click="vm.closeDialog()">
              <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
            
          </div>
        </md-toolbar>
<div class="oganization-form">

  <form name="form" ng-disabled='vm.update.sending' class="md-inline-form" ng-submit="vm.update()" novalidate>
    <div layout="column" layout-gt-sm="row" class="pb-20">
      <md-input-container flex class="m-0">
        <span>This Information will be your public profile viewable by other organizations</span>
    </md-input-container>
    </div>
    <div layout="column" layout-gt-sm="row">
      <md-input-container flex>
        <input type="text" name="name" ng-model="vm.orgTmp.name" placeholder="Organization Name"
               required>
        <div ng-messages="form.name.$error"
             role="alert">
          <div ng-message="required">
            <span>Organization Name is required.</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <input type="text" name="phone" maxlength="10" ng-pattern="/^[\+\-]?\d*\.?\d+(?:[Ee][\+\-]?\d+)?$/" ng-model="vm.orgTmp.phone" placeholder="Phone">
          <div ng-messages="form.phone.$error" role="alert">
            <div ng-message="pattern" style="opacity: 1; margin-top: 0px;">
              <span>Please enter only numeric.</span>
            </div>
              <div ng-message="required" style="opacity: 1; margin-top: 0px;">
                <span>Mobile number is required</span>
              </div>
          </div>
      </md-input-container>
    </div>

    <div layout="column" layout-gt-sm="row">

      <md-input-container flex>
        <input type="email" name="email" ng-model="vm.orgTmp.email" placeholder="Organization Email"
               ng-pattern="/^.+@.+\..+$/" required>
        <div ng-messages="form.email.$error"
             role="alert" multiple="multiple">
          <div ng-message="required" style="opacity: 1; margin-top: 0px;">
            <span>Email Address is required</span>
          </div>
          <div ng-message="pattern" style="opacity: 1; margin-top: 0px;">
            <span>Email Address must be a valid e-mail address</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <input type="url" name="website" ng-model="vm.orgTmp.website" placeholder="Website (http://)">
            <div ng-messages="form.website.$error" role="alert">
              <div ng-message="required">
                <span>Website is required.</span>
              </div>
              <div ng-message="url" style="opacity: 1; margin-top: 0px;">
                <span>Website format is not correct enter with http</span>
              </div>
            </div>
     
      </md-input-container>

    </div>

    <div layout="column" layout-gt-sm="row">

      <md-input-container flex>
        <input type="text" name="address_line1" ng-model="vm.orgTmp.address.line1" placeholder="Address Line 1">
        <div ng-messages="form.address_line1.$error"
             role="alert">
          <div ng-message="required">
            <span>Address is required.</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <input type="text" name="address_line2" ng-model="vm.orgTmp.address.line2" placeholder="Address Line 2">
      </md-input-container>

    </div>

    <div layout="column" layout-gt-sm="row">

      <md-input-container flex>
        <input type="text" name="address_city" ng-model="vm.orgTmp.address.city" placeholder="City">
        <div ng-messages="form.address_city.$error"
             role="alert">
          <div ng-message="required">
            <span>City is required.</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <input type="text" name="address_state" ng-model="vm.orgTmp.address.state" placeholder="State">
        <div ng-messages="form.address_state.$error"
             role="alert">
          <div ng-message="required">
            <span>State is required.</span>
          </div>
        </div>
      </md-input-container>

    </div>

    <div layout="column" layout-gt-sm="row">

      <md-input-container flex>
        <input type="text" name="address_zipcode" maxlength="6" ng-model="vm.orgTmp.address.zip" placeholder="Zip code">
        <div ng-messages="form.address_zipcode.$error" role="alert">
          <div ng-message="required">
            <span>Zip code is required.</span>
          </div>
        </div>

      </md-input-container>

      <md-input-container flex>
        <input type="text" name="address_country" ng-model="vm.orgTmp.address.country" placeholder="Country">
        <div ng-messages="form.address_country.$error"
             role="alert">
          <div ng-message="required">
            <span>Country is required.</span>
          </div>
        </div>
      </md-input-container>

    </div>

    <div layout="column" layout-gt-sm="row">
    
      <md-input-container flex>
        <textarea name="address_zip" ng-model="vm.orgTmp.description" placeholder="Description of Organization"></textarea>
      </md-input-container>
    </div>

    <div layout="column" layout-gt-sm="row" ng-show="myLink" >
      <md-input-container flex>
        <input type="url" style="width:90% !important;" name="link" ng-model="vm.orgTmp.link" placeholder="link">
        <div ng-messages="form.link.$error" role="alert">
          <div ng-message="url" style="opacity: 1; margin-top: 0px;">
            <span>Link format is not correct</span>
          </div>
        </div>
      </md-input-container>
    </div>

  <div flex="90" padding class="pt-20">
    <md-button type="button" ng-click="vm.EditOrgConfirm()"  class="md-raised md-accent" aria-label="Submit"
      ng-disabled="form.$invalid || form.$pristine || vm.update.sending">
      <span ng-hide='vm.update.sending'>Save</span>
      <span ng-show='vm.update.sending'>Updating...</span>
    </md-button>

    <md-button type="button" md-no-ink ng-click="myLink=myLink ? false : true;" class="md-primary link" aria-label="link">
      <span> {{myLink ? 'Cancel' : 'Insert'}}  Link</span>
    </md-button>
 </div>
  </form>

</div>

</md-dialog>
