<div class="demo-sidenav">
    <md-list>

        <md-list-item>
            <a href="/organization">My Organization</a>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item>
            <a href="/members">Members</a>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item>
            <p>Templates</p>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item>
            <p>Plan</p>
        </md-list-item>

    </md-list>
</div>
