#subscriptions {

  .ecommerce-cc {
    text-align: right;
    margin-bottom: 15px;

    img {
      border-radius: 4px;
      margin: 5px;
      height: 25px;
    }

  }

  .form-container {
    /*padding: 24px;
    margin-bottom: 24px;*/
  }

  .price-table.style-3 .package-type {
    padding: 10px;
    text-align: center;
  }

  .price-tables {
    margin-bottom: 48px;
  }

  .price-tables .price-table {
    position: relative;
    background-color: #FFF;
    width: 280px;
    border-radius: 2px;
    margin: 24px 24px 0 0;
    overflow: hidden;
  }

  .price-tables .price-table.style-3 .package-type .title {
    font-size: 25px;
  }

  .field-name {
    color: yellow !important;

  }

}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

  #subscriptions {


    .ecommerce-cc {
      text-align: left;
      margin-bottom: 15px;
    }

    md-tab-content {
      padding: 0 !important;
    }

  }
}


