<div class="simple-table-container md-background-bg md-whiteframe-1dp">
  <table class="simple hover" ms-responsive-table>
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th class="secondary-text">
        <div class="text-center">Assigned</div>
      </th>
      <th class="secondary-text" hide show-gt-xs>
        <div class="text-center">Subscribed</div>
      </th>
      <th class="secondary-text">
        <div class="text-center">Available</div>
      </th>
    </tr>
    </thead>
    <tbody>
       <!-- {{user.organization|json}}  -->
    <tr ng-repeat="rol in user.organization.rolePool" ng-click="vm.openSubscriptionDialog($event, rol)" >
      <td>{{rol.name}}</td>
      <td class="text-center">{{rol.assigned}}</td>
      <td class="text-center" hide show-gt-xs>{{rol.subscribed}}</td>
      <td class="text-center">{{rol.available}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
