<div layout="column" flex>
  <md-input-container flex="100">
    <label translate="GROUP.NAME">Workflow Name</label>
    <input name="name" ng-model="vm.group.text" md-autofocus required>
    <div ng-messages="groupForm.text.$error" ng-show="groupForm.text.$touched" role="alert">
      <div ng-message="required">
        <span translate="GROUP.ERRORS.GROUP_NAME_REQUIRED">Group Name field is required</span>
      </div>
    </div>
  </md-input-container>
  <md-input-container flex="100">
    <label translate="GROUP.WORKFLOW_DESCRIPTION"></label>
    <input name="description" ng-model="vm.group.description">
  </md-input-container>
</div>
