<div layout="column" flex>
  <md-input-container flex="100">
    <label translate="FOLDER.NAME">Project Name</label>
    <input name="name" ng-model="vm.folder.name" md-autofocus required>
    <div ng-messages="wizardStep1.name.$error" ng-show="wizardStep1.name.$touched" role="alert">
      <div ng-message="required">
        <span translate="CHECKLIST.ERRORS.PROJECT_NAME_REQUIRED">Project Name field is required</span>
      </div>
    </div>
  </md-input-container>
  <md-input-container flex="100">
    <label translate="FOLDER.DESCRIPTION" class="ng-scope" for="input_93">Project Description</label>
    <input name="description" ng-model="vm.folder.description" class="ng-pristine ng-valid md-input ng-empty ng-touched" id="input_93" aria-invalid="false" style=""><div class="md-errors-spacer"></div>
</md-input-container>
</div>
