<md-dialog-content ms-scroll ng-show="vm.find.results.templates.length">

  <table class="simple" ms-responsive-table>
    <thead>
    <tr>
      <th>Template Name</th>
      <th hide-xs>Organization</thhide-xs>
      <th>Author</th>
      <th hide-xs>Created</th>
      <th class="text-right">Add</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <td colspan="5">&nbsp;</td>
    </tr>
    </tfoot>

    <tbody>
    <tr ng-repeat="res in vm.find.results.templates">
      <td class="name">{{res.name}}</td>
      <td class="salary" hide-xs>{{res.organization}}</td>
      <td class="name">{{res.author}}</td>
      <td class="name" hide-xs>{{res.created | date:'MMMM d, yyyy'}}</td>
      <td class="text-right" ng-switch="res.status"><span ng-switch-when="Linked">Already</span>

        <md-button type="button"
                   class="icon-button"
                   aria-label="Invite"
                   ng-click="vm.find.create(res.id, vm.verticalStepper.step2.groupID)">
          <md-icon md-font-icon="icon-plus-circle-outline" class="md-accent-fg s18"></md-icon>
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>
</md-dialog-content>

<md-input-container class="md-block">
  <label translate="CHECKLIST.SEARCH_BY_TEMPLATE_NAME">Search by Template Name</label>

  <input id="findTemplateName" ng-model="vm.find.template.criteria.name" autofocus="autofocus" type="text"/>
</md-input-container>

<md-input-container class="md-block">
  <label translate="CHECKLIST.SEARCH_BY_ORGANIZATION">Search by Organization</label>

  <input id="findTemplateOrg" type="text" ng-model="vm.find.template.criteria.organization"/>
</md-input-container>

<md-input-container class="md-block">
  <label translate="CHECKLIST.SEARCH_BY_AUTHOR">Search by Author</label>
  <input id="findTemplateAuthor" type="text" ng-model="vm.find.template.criteria.author"/>
</md-input-container>

<!-- <md-input-container class="md-block">
  <label translate="CHECKLIST.SEARCH_BY_VERSION">Search by Version</label>
  <input id="findTemplateVersion" type="text" ng-model="vm.find.template.criteria.version"/>
</md-input-container> -->

<md-button type="submit" class="md-accent md-button md-raised ng-scope md-ink-ripple md-default-theme submit-button"
           aria-label="SEARCH"
           ng-disabled="vm.find.searching">
  SEARCH
</md-button>

<!-- / DIALOG CONTENT -->


<!-- DIALOG ACTIONS -->


<!-- / DIALOG ACTIONS -->
