<div class="todo-items" ng-sortable="vm.sortableOptions" ng-model="vm.folders"
     ng-class="{'sortable': vm.folderOrder === ''}">

  <div class="todo-item" md-ink-ripple layout="row" layout-align="start center"
       ng-repeat="folder in vm.folders | orderBy:vm.folderOrder:vm.folderOrderDescending | filter: globalSearch.searchTerm | filter:vm.folderFilters.search track by $index"
       ng-class="{'starred': folder.starred, 'selected': folder.selected, 'completed': folder.completed}">

    <div layout="row" layout-align="start center" flex>

      <div class="info" flex>
        <div class="title">
          <a ng-href="/groups/{{folder.id}}">
            {{folder.name}} = LL
          </a>
        </div>
      </div>

      <div class="buttons" layout="row" layout-align="start center">

        <md-menu>

          <md-button ng-click="$mdOpenMenu($event)"
                     class="md-icon-button" aria-label="More" translate
                     translate-attr-aria-label="FOLDER.MORE">
            <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
          </md-button>

          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="vm.deleteFolder(folder, $event)" aria-label="Delete Workflow"
                         translate-attr-aria-label="FOLDER.DELETE_FOLDER">
                <md-icon class="red-600-fg s18"
                         md-font-icon="icon-trash"></md-icon>
                <span translate="FOLDER.DELETE_FOLDER">Delete Workflow</span>
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ng-click="vm.openFolderDialog($event, folder)" aria-label="Edit Workflow"
                         translate-attr-aria-label="FOLDER.EDIT_FOLDER">
                <md-icon class="md-accent-fg s18"
                         md-font-icon="icon-pencil"></md-icon>
                <span translate="FOLDER.EDIT_FOLDER">Edit Workflow</span>
              </md-button>
            </md-menu-item>

            <md-divider class="md-default-theme"></md-divider>

            <md-menu-item>
              <md-button ng-click="vm.openFolderDialog($event)" aria-label="Add New Workflow"
                         translate-attr-aria-label="FOLDER.ADD_NEW_FOLDER">
                <md-icon class="md-accent-fg s18"
                         md-font-icon="icon-plus-circle-outline"></md-icon>
                <span translate="FOLDER.ADD_NEW_FOLDER">Add New Workflow</span>
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>

      </div>
    </div>
  </div>


  <div class="todo-item" md-ink-ripple layout="row" layout-align="start center" ng-if="!vm.folders.length">


    <div layout="row" layout-align="start center" flex>

      <div class="info" flex>
        <div class="title">
          You do not have any projects
        </div>
      </div>

      <div class="buttons" layout="row" layout-align="start center">

        <md-menu>

          <md-button ng-click="$mdOpenMenu($event)"
                     class="md-icon-button" aria-label="More" translate
                     translate-attr-aria-label="FOLDER.MORE">
            <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
          </md-button>

          <md-menu-content width="3">

            <md-menu-item>
              <md-button ng-click="vm.openFolderDialog($event)" aria-label="Add New Folder"
                         translate-attr-aria-label="FOLDER.ADD_NEW_FOLDER">
                <md-icon class="md-accent-fg s18"
                         md-font-icon="icon-plus-circle-outline"></md-icon>
                <span translate="FOLDER.ADD_NEW_FOLDER">Add New Folder</span>
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>

      </div>
    </div>
  </div>



</div>
