<md-dialog class="dialog" aria-label="">
    <form name="checklistForm" class="md-inline-form" ng-submit="vm.createSegment(vm.newItem.type,vm.newItem.name,vm.newItem.to,vm.newItem.dataTypes,vm.newItem.info,vm.type.type,vm.newItem.alert, vm.newItem.alert_sms, vm.newItem.mobile)"
        novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.type.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label>{{vm.type.label}}</label>
                <input name="name" ng-model="vm.newItem.name" required md-autofocus maxlength="155">
                <div ng-messages="checklistForm.name.$error" ng-show="checklistForm.name.$touched" role="alert">
                    <div ng-message="required">
                        <span ng-show="vm.newItem.dataType==1">{{vm.newItem.type}} Name field is required</span>
                        <span ng-show="vm.newItem.dataType!=1">Text Box Label is required</span>
                    </div>
                </div>
            </md-input-container>

            <div ng-show="vm.newItem.type=='item'">
                <!--
              <md-input-container class="md-block">
				<md-radio-group ng-model="vm.newItem.dataType">
					<md-radio-button ng-value="1" aria-label='Apply/Comply'>Apply/Comply</md-radio-button>
					<md-radio-button ng-value="2" aria-label='Text'>Text</md-radio-button>
					<md-radio-button ng-value="3" aria-label='Number'>Number</md-radio-button>
                </md-radio-group>
          </md-input-container>

        -->
                <!-- <md-input-container class="md-block" ng-show="vm.newItem.dataType==1">
                    <label ng-switch="vm.newItem.dataType==1">
                        <span ng-switch-when="true">Reference</span>
                        <span ng-switch-when="false">Data</span>
                    </label>
                    <input name="description" type="{{(vm.newItem.dataType==3)?'number':'text'}}" ng-model="vm.newItem.info">
                    <input name="item_type" value="{{vm.type.type}}" type="hidden" ng-model="vm.newItem.item_type">
                </md-input-container> -->
                <md-input-container class="md-block">
                    <label ng-switch="vm.newItem.dataType==1">
                        <!-- <span ng-switch-when="true">Reference</span>
                        <span ng-switch-when="false">Data</span> -->
                      <span>{{vm.type.type=='textbox' ? 'Description': 'Reference'}}</span>  
                    </label>
                    <input maxlength="255" name="description" type="text" ng-model="vm.newItem.info">

                </md-input-container>
            </div>

            <input name="item_type" value="{{vm.type.type}}" type="hidden" ng-model="vm.type.type">

            <md-input-container class="md-block checklist-alerts" id="checklist-alerts" ng-if="vm.type.type">
                <div layout="row" layout-wrap>
                    <div flex="20"><span>Alert if Checked: </span></div>
                    <div flex="80">
                        <div layout="column">
                            <md-radio-group ng-model="vm.newItem.dataTypes">
                                <md-radio-button ng-disabled="vm.type.type != 'checkbox'" value="{{vm.type.type=='checkbox' ? 'applies' : ''}}" class="md-primary">Req</md-radio-button>
                                <md-radio-button ng-disabled="vm.type.type != 'checkbox'" value="{{vm.type.type=='checkbox' ? 'complies' : ''}}"> Comply
                                </md-radio-button>
                            </md-radio-group>

                            <md-radio-group ng-model="vm.newItem.dataTypes">
                                
                                <md-radio-button ng-disabled="vm.type.type != 'yn'" value="{{vm.type.type=='yn' ? 'applies' : ''}}" class="md-primary">Yes</md-radio-button>
                                <md-radio-button ng-disabled="vm.type.type != 'yn'" value="{{vm.type.type=='yn' ? 'complies' : ''}}"> No </md-radio-button>
                            </md-radio-group>

                            <md-radio-group ng-model="vm.newItem.dataTypes">
                                <md-radio-button ng-disabled="vm.type.type != 'textbox'" value="{{vm.type.type=='textbox' ? 'applies' : ''}}" class="md-primary">If
                                    data added</md-radio-button>
                            </md-radio-group>

                        </div>
                    </div>

                </div>

                <div layout="row" layout-wrap>
                    <md-checkbox ng-disabled="!vm.newItem.dataTypes" ng-model="vm.newItem.alert" aria-label="yes">
                        Set Alert
                    </md-checkbox>

                </div>

                <div ng-if="vm.newItem.alert" layout="row" layout-wrap>
                    <md-checkbox ng-model="vm.newItem.alert_sms" aria-label="yes" class="md-block">
                        Send Alert as SMS Text
                    </md-checkbox>
                </div>

                <div ng-if="vm.newItem.alert && vm.newItem.alert_sms" layout="row" layout-wrap >
                    <md-input-container  class="md-block">
                        <label>Mobile Number</label>
                        <input name="name" style="color: #000;" type="text" ng-model="vm.newItem.mobile" ng-required="vm.newItem.alert_sms" >
                    </md-input-container>
                </div>
                
                    <!-- <md-radio-group ng-model="vm.newItem.dataTypes">
                        <md-radio-button  value="AT&T" class="md-primary">AT&T</md-radio-button>
                        <md-radio-button  value="" class="md-primary">Req</md-radio-button>
                        </md-radio-button>
                    </md-radio-group> -->

                

            </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" md-no-ink class="md-raised md-accent" ng-disabled="checklistForm.$invalid || checklistForm.$pristine || vm.headingDialog"
                    aria-label="Save" translate="CHECKLIST.SAVE" translate-attr-aria-label="CHECKLIST.SAVE">

                </md-button>
            </div>

        </md-dialog-actions>
    </form>
</md-dialog>