<md-dialog class="dialog" aria-label="">
  <form name="checklistForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Edit Form Line Question</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <md-input-container class="md-block">
        <label translate="CHECKLIST.TEXT_BOX_LABEL"></label>
        <input name="name" ng-model="vm.Item_name">
      </md-input-container>

      <md-input-container class="md-block" disabled>
        <label translate="CHECKLIST.TEXT_BOX_INPUT"></label>
        <div class="md-resize-wrapper">
          <textarea name="text" ng-model="vm.Item_info" required md-autofocus
                    class="ng-valid md-input ng-not-empty ng-dirty ng-valid-parse ng-valid-md-maxlength ng-touched"
                    md-maxlength="150" max-rows="5"
                    ng-trim="false"></textarea>
          <div class="md-resize-handle" style="touch-action: pan-x;"></div>
        </div>
        <div ng-messages="checklistForm.text.$error" ng-show="checklistForm.text.$touched" role="alert">
          <div ng-message="required">
            <span translate="CHECKLIST.ERRORS.TEXT_BOX_INPUT"></span>
          </div>
        </div>
      </md-input-container>

    </md-dialog-content>




    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button type="submit"
                   ng-click="vm.saveItem('edit_textbox')"
                   class="md-raised md-accent"
                   ng-disabled="checklistForm.$invalid || checklistForm.$pristine"
                   aria-label="Save" translate="CHECKLIST.SAVE" translate-attr-aria-label="CHECKLIST.SAVE">
          SAVE
        </md-button>
      </div>

    </md-dialog-actions>
  </form>
</md-dialog>
