<md-dialog class="dialog" aria-label="">
    <form name="checklistForm" class="md-inline-form" ng-submit="vm.createSegment(vm.newItem.type,vm.newItem.name,vm.newItem.to,vm.newItem.dataType,vm.newItem.info)" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Add New {{vm.type.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label>{{vm.type.label}}</label>
                <input name="name" ng-model="vm.newItem.name" required md-autofocus>
                <div ng-messages="checklistForm.name.$error" ng-show="checklistForm.name.$touched" role="alert">
                    <div ng-message="required">
                        <span ng-show="vm.newItem.dataType==1">{{vm.newItem.type}} Name field is required</span>
                      <span ng-show="vm.newItem.dataType!=1">Text Box Label is required</span>
                    </div>
                </div>
            </md-input-container>

			<div ng-show="vm.newItem.type=='item'">
        <!--
				<md-radio-group ng-model="vm.newItem.dataType">
					<md-radio-button ng-value="1" aria-label='Apply/Comply'>Apply/Comply</md-radio-button>
					<md-radio-button ng-value="2" aria-label='Text'>Text</md-radio-button>
					<md-radio-button ng-value="3" aria-label='Number'>Number</md-radio-button>
				</md-radio-group>
        -->
               <md-input-container class="md-block" ng-show="vm.newItem.dataType==1">
               		<label ng-switch="vm.newItem.dataType==1">
                    <span ng-switch-when="true">Reference</span>
                    <span ng-switch-when="false">Data</span>
                  </label>
                	<input name="description" type="{{(vm.newItem.dataType==3)?'number':'text'}}" ng-model="vm.newItem.info">
              </md-input-container>
			</div>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit"
                           md-no-ink
                           class="md-raised md-accent"
                           ng-disabled="checklistForm.$invalid || checklistForm.$pristine"
                           aria-label="Save" translate="CHECKLIST.SAVE" translate-attr-aria-label="CHECKLIST.SAVE">
                    SAVE
                </md-button>
             </div>

        </md-dialog-actions>
    </form>
</md-dialog>
