<md-dialog class="dialog" aria-label="">
  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span class="title">Determine the place and name your new checklist</span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- DIALOG CONTENT -->
  <md-dialog-content class="no-padding">

    <!-- FORM WIZARD-->
    <ms-form-wizard flex>

      <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex">
        <md-tab>
          <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep1.$invalid">1</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Select Project</span>
                            </span>
          </md-tab-label>

          <md-tab-body>
            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
              <div ng-switch="vm.wizard.newFolder">
                <div ng-switch-when="false">
                  <div ng-include="'app/main/checklist/views/stepper/new-checklist-1.html'"></div>
                </div>
                <div ng-switch-when="true">
                  <div ng-include="'app/main/checklist/views/stepper/new-checklist-1-new-folder.html'"></div>
                </div>
              </div>
            </form>
          </md-tab-body>
        </md-tab>

        <md-tab ng-disabled="wizardStep1.$invalid">
          <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="!vm.verticalStepper.step2.groupID">2</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.verticalStepper.step2.groupID">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Select Folder</span>
                            </span>
          </md-tab-label>

          <md-tab-body>
            <form name="wizardStep2" ms-form-wizard-form novalidate>

              <div ng-switch="vm.wizard.newGroup" ng-hide="!vm.verticalStepper.step1.folderID">
                <div ng-switch-when="false">
                  <div ng-include="'app/main/checklist/views/stepper/new-checklist-2.html'"></div>
                </div>
                <div ng-switch-when="true">
                  <div ng-include="'app/main/checklist/views/stepper/new-checklist-2-new-group.html'"></div>
                </div>
              </div>
            </form>
          </md-tab-body>
        </md-tab>

        <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
          <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$invalid">3</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Name Checklist</span>
                            </span>
          </md-tab-label>

          <md-tab-body>
            <form name="wizardStep3" ms-form-wizard-form novalidate class="ms-form-wizard-form-checklist-name">
              <md-input-container class="md-block">
                <input type="text" name="checklistName" ng-model="vm.verticalStepper.step3.name"
                       placeholder="Checklist Name"
                       required>
                <div ng-messages="wizardStep3.checklistName.$error"
                     role="alert">
                  <div ng-message="required">
                    <span>Checklist Name is required</span>
                  </div>
                </div>
              </md-input-container>
            </form>
          </md-tab-body>
        </md-tab>
      </md-tabs>

      <div class="navigation" flex layout="row" layout-align="center center" ng-show="!vm.wizard.newFolder && !vm.wizard.newGroup">
        <md-button class="" ng-click="msWizard.previousStep()"
                   ng-disabled="msWizard.isFirstStep()">
          Previous
        </md-button>
        <div class="steps">
                        <span ng-repeat="form in msWizard.forms"
                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
        </div>
        <md-button class="" ng-click="msWizard.nextStep()"
                   ng-hide="msWizard.isLastStep()"
                   ng-disabled="msWizard.currentStepInvalid() || vm.wizard.newFolder">
          Next
        </md-button>

        <md-button class="md-warn"
                   ng-click="vm.addNewChecklist(vm.verticalStepper.step3.name, vm.verticalStepper.step2.groupID, vm.verticalStepper.step1.folderID); "
                   ng-show="msWizard.isLastStep()"
                   ng-disabled="msWizard.formsIncomplete() || vm.wizard.newFolder || vm.wizard.newGroup">
          Create Checklist
        </md-button>


      </div>

    </ms-form-wizard>
    <!-- FORM WIZARD -->

  </md-dialog-content>


  <md-dialog-actions layout="row" layout-align="space-between center" ng-show="vm.wizard.newFolder">
    <div layout="row" layout-align="start center">
      <md-button type="submit"
                 aria-label="Save"
                 translate-attr-aria-label="CHECKLIST.SAVE"
                 class="md-raised md-accent"
                 ng-disabled="wizardStep1.$invalid || wizardStep1.$pristine"
                 ng-click="vm.addNewFolder(vm.folder.name)">
        SAVE
      </md-button>
    </div>

    <div layout="row">
      <md-button ng-click="vm.cancelFolderInput()" aria-label="Cancel" translate
                 translate-attr-aria-label="CHECKLIST.DELETE">
        <md-icon md-font-icon="icon-delete"></md-icon>
        <md-tooltip><span translate="CHECKLIST.CANCEL">CANCEL</span></md-tooltip>
      </md-button>
    </div>
  </md-dialog-actions>

  <md-dialog-actions layout="row" layout-align="space-between center" ng-show="vm.wizard.newGroup">
    <div layout="row" layout-align="start center">
      <md-button type="submit"
                 ng-if="!vm.newChecklist"
                 ng-click="vm.addNewGroup(vm.group.text, vm.verticalStepper.step1.folderID)"
                 class="md-raised md-accent"
                 ng-disabled="checklistForm.$invalid || checklistForm.$pristine"
                 aria-label="Save" translate="CHECKLIST.SAVE" translate-attr-aria-label="CHECKLIST.SAVE">
        SAVE
      </md-button>
    </div>

    <div layout="row">
      <md-button ng-if="!vm.newChecklist" class="md-icon-button"
                 ng-click="vm.cancelGroupInput()" aria-label="Delete" translate
                 translate-attr-aria-label="CHECKLIST.DELETE">
        <md-icon md-font-icon="icon-delete"></md-icon>
        <md-tooltip><span translate="CHECKLIST.CANCEL">CANCEL</span></md-tooltip>
      </md-button>
    </div>
  </md-dialog-actions>



</md-dialog>
</md-dialog>
