 <!-- <md-dialog class="dialog" aria-label="">
  <form name="checklistForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Edit Checkbox Line</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <md-input-container class="md-block">
        <label translate="CHECKLIST.EDIT_CHECKBOX_LABEL"></label>
        <input name="name" ng-model="vm.item.name" required md-autofocus maxlength="155"> 
        <div ng-messages="checklistForm.name.$error" ng-show="checklistForm.name.$touched" role="alert">
          <div ng-message="required">
            <span translate="CHECKLIST.ERRORS.ITEM_NAME_REQUIRED">Checklist Line Name field is required</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Reference Text</label>

        <input name="References" maxlength="255" ng-model="vm.Item_info" md-autofocus>
       </md-input-container>

       <md-input-container class="md-block" ng-show="myLink || vm.item.link!=''" >
        <input type="url" name="link" ng-model="vm.item.link" placeholder="URL">
        <div ng-messages="form.link.$error" role="alert">
          <div ng-message="url" style="opacity: 1; margin-top: 0px;">
            <span>URL format is not correct</span>
          </div>
        </div>
      </md-input-container>
    </md-dialog-content>
 

  

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start end">
        <md-button type="submit"
                   ng-click="vm.saveItem()"
                   class="md-raised md-accent"
                   ng-disabled="checklistForm.$invalid || checklistForm.$pristine"
                   aria-label="Save" translate="CHECKLIST.SAVE" translate-attr-aria-label="CHECKLIST.SAVE">
          SAVE
        </md-button>

        <md-button type="button" md-no-ink ng-click="myLink=myLink ? false : true;" class="md-primary link" aria-label="link">
          <span> {{(myLink || vm.item.link!='') ? 'Cancel' : 'Insert'}}  Link</span>
        </md-button>
      </div>

    </md-dialog-actions>
  </form>
</md-dialog> 


 -->



 <md-dialog class="dialog" aria-label="">
  <form name="checklistForm" class="md-inline-form" ng-submit="vm.saveItem('edit_yn_checkbox')" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Edit Checklist Line</span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>



    <md-dialog-content ms-scroll>
      <md-input-container class="md-block">
        <label>{{vm.datapoint_item.label}}</label>
        <input name="name" ng-model="vm.datapoint_item.name" required md-autofocus maxlength="155">
        <div ng-messages="checklistForm.name.$error" ng-show="checklistForm.name.$touched" role="alert">
          <div ng-message="required">
            <span ng-show="vm.datapoint_item.type==1">{{vm.datapoint_item.type}} Name field is required</span>
          </div>
        </div>
      </md-input-container>

      <div>

        <md-input-container class="md-block">
          <label ng-switch="vm.datapoint_item.type==1">

            <span>{{vm.datapoint_item.type=='textbox' ? 'Description': 'Reference'}}</span>
          </label>
          <input maxlength="255" name="description" type="text" ng-model="vm.datapoint_item.info">

        </md-input-container>
      </div>

      <input name="item_type" value="{{vm.datapoint_item.type}}" type="hidden"
        ng-model="vm.datapoint_item.type">

      <md-input-container class="md-block checklist-alerts" id="checklist-alerts" ng-if="vm.datapoint_item.type">
        <div layout="row" layout-wrap>
          <div flex="20"><span>Alert if Checked: </span></div>
          <div flex="80">
            <div layout="column">

              <md-radio-group ng-model="vm.datapoint_item.item_status">
                <md-radio-button ng-disabled="vm.datapoint_item.type != '1' && vm.datapoint_item.type != '4'"
                  value="Req" class="md-primary">Req</md-radio-button>
                <md-radio-button ng-disabled="vm.datapoint_item.type != '1' && vm.datapoint_item.type != '4'"
                  value="Comp"> Comply
                </md-radio-button>
              </md-radio-group>

              <md-radio-group ng-model="vm.datapoint_item.item_status">
                <md-radio-button ng-disabled="vm.datapoint_item.type != '3' && vm.datapoint_item.type != '4'"
                  value="Yes" class="md-primary">Yes</md-radio-button>
                <md-radio-button ng-disabled="vm.datapoint_item.type != '3' && vm.datapoint_item.type != '4'"
                  value="No"> No
                </md-radio-button>
              </md-radio-group>

              <md-radio-group ng-model="vm.datapoint_item.item_status">
                <md-radio-button ng-disabled="vm.datapoint_item.type != '2' && vm.datapoint_item.type != '4'"
                  value="Textbox" class="md-primary">If data added</md-radio-button>
              </md-radio-group>
            </div>
          </div>

        </div>

        <div layout="row" layout-wrap>
          <md-checkbox ng-disabled="!vm.datapoint_item.item_status" ng-model="vm.datapoint_item.checkbox[0].alert"
            aria-label="Set Alert">
            Set Alert 
          </md-checkbox>

        </div>

        <div ng-if="vm.datapoint_item.checkbox[0].alert" layout="row" layout-wrap>
          <md-checkbox ng-model="vm.datapoint_item.checkbox[0].sms_alert" aria-label="Send Alert as SMS Text" class="md-block">
            Send Alert as SMS Text
          </md-checkbox>
        </div>

        <div ng-if="vm.datapoint_item.checkbox[0].alert && vm.datapoint_item.checkbox[0].sms_alert" layout="row" layout-wrap>
          <md-input-container class="md-block">
            <label>Mobile Number</label>
            <input name="name" style="color: #000;" type="text" ng-model="vm.datapoint_item.checkbox[0].sms_alert_number"
              ng-required="vm.datapoint_item.checkbox[0].sms_alert">
          </md-input-container>
        </div>

      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button type="submit" md-no-ink class="md-raised md-accent" aria-label="Save" translate=""
          translate-attr-aria-label=""
          ng-disabled="checklistForm.$invalid || checklistForm.$pristine || vm.headingDialog">
          Update
        </md-button>
      </div>

    </md-dialog-actions>
  </form>
</md-dialog>