<md-dialog class="dialog" aria-label="">
  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span class="title">Users Linked to {{ vm.item.name }}</span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- DIALOG CONTENT -->
  <md-dialog-content>
    <div class="simple-table-container">
      <table class="simple bordered-table" ms-responsive-table>
        <thead>
          <tr>
            <th>User</th>
            <!-- <th>show</th>-->
            <th class=" text-right">View</th>
          </tr>
        </thead>


        <tbody>
          <tr ng-repeat="show in vm.users">
            <td class="">{{show.name.full}}</td>
            <!--<td class="">{{show}}</td>-->
            <td class="text-right">

              <md-button type="button" ng-click="vm.toggleShowCheckboxes(show)"
                ng-disabled="(show.isShowing && showingUsers.length == 1) || ((showingUsers.length ==2) && !show.isShowing)"
                class="icon-button">
                <md-icon ng-hide="show.isShowing" md-font-icon="icon-checkbox-blank-outline"
                  style="min-height: 0px !important; line-height: normal; height: 0px;" class="md-accent-fg s18"></md-icon>
                <md-icon ng-show="show.isShowing" md-font-icon="icon-checkbox-marked-outline"
                  style="min-height: 0px !important; line-height: normal; height: 0px;" class="md-accent-fg s18"></md-icon>
              </md-button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </md-dialog-content>
</md-dialog>