
<style>


  md-dialog.dialog {
    max-width: 95%;
    width: 95%;
}

   .chk_data_table_header {
    border: 2px solid #9E9E9E  !important;
    border-bottom: 0px !important;
    border-collapse: collapse;
  }
  table.table.table-bordered.chk_data_table_header tr td {
    height: 1px;
    text-align: center;
   border:  2px solid #a7a7a7;
   
    padding: 2px;
    border-bottom:none !important;
}

table.table.table-bordered.chk_data_table_header tr td:last-child {
    border-right: 0px !important;
}

  .chk_data_table,.chk_data_table_header {
    width: 100%; 
    white-space: nowrap;
   
    table-layout: fixed;
  }
  td.input_border {
   
    padding: 5px;
    min-height: 40px;
    height: 40px;
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    /* white-space: pre-wrap;  */
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}

span.table_detail {
    border-bottom: 2px solid #416ea3;
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
}
.data_tabel_title {
    margin-bottom: 20px;
}

.data_tabel_title span {
    display: inline-block;
    padding: 0 40px 0 40px;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 2px solid #416ea3;
}

td.cell-border{
  border: 3px solid #000 !important; 
  /* border-bottom: none !important; */
  /* padding: 0px !important;
       border: 1px solid #9E9E9E !important; */
 
}
td.cell-border-none{
       border: 2px solid #9E9E9E !important; 
       text-align: center; 
 
}

.chk_data_table{
    border-collapse: collapse;

}



.chk_data_table span{
   display: block;
}
.chk_data_table span.right {
  text-align:right;
}
.chk_data_table span.left {
  text-align:left;
}
.chk_data_table span.center {
  text-align:center;
}

.chk_data_table span.top {
  vertical-align:top;
}
.chk_data_table span.middle {
  vertical-align:middle;
}
.chk_data_table span.bottom {
  vertical-align:bottom;
}

.fs-16{
  font-size: 16px;
}

md-input-container label {
    font-size: 16px;
}



</style>

<md-dialog class="dialog" aria-label="">

    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span class="title">{{  vm.table_id == "" ? 'Add New' : 'Edit' }} Data Table</span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <div id="" class="simple-table-container md-background-bg md-whiteframe-1dp p-15">

        <div>
          <p>Select Cell to Format or Done When Complete</p>
            <h3>Cell to Format</h3>
          
            <div>
                Columns <span class="table_detail"> {{columns.length}}</span>
                Rows <span class="table_detail"> {{rows.length}}</span>
                
            </div>
      </div>   

          <form name="formatForm" class="md-inline-form" novalidate>

            
          
            <div class="formating-holder">
              <label>Format</label>
              <md-input-container class="md-block mb-0" >
              <md-select name="selected_format_id" required ng-model="vm.model" placeholder="" style="width:140px" ng-change="vm.getdetails()" ng-disabled="!vm.cellSelected">
                <md-option ng-value="format.name" ng-repeat="format in vm.formats">{{format.name}}</md-option>
              </md-select>
            </md-input-container>
              <md-input-container class="md-block mb-0" >
                  <md-select name="selected_textAlign"  ng-model="vm.alignTextStatus" placeholder="" style="width:140px" ng-disabled="!vm.textShow" >
                    <md-option ng-value="al.name" ng-repeat="al in alignTextVal"><i class="fa fa-align-{{al.name}}"><div class="_md-text ng-binding"></div></i></md-option>
                  </md-select>
                </md-input-container>
  
  
                <md-input-container class="md-block mb-0" > 
                <md-select name="selected_textPostion"  ng-model="vm.TextPostitionStatus" placeholder="" style="width:140px"  ng-disabled="!vm.textShow">
                    <md-option ng-value="position.name" ng-repeat="position in TextPostition">
                        <i class="fa {{position.pos}}" aria-hidden="true"></i></md-option>
                  </md-select>
                </md-input-container>
            </div>            

           

            <md-input-container class="md-block mb-0" ng-show="vm.lable_show">
                <input name="name"  ng-bind-html="vm.label_name"  ng-model="vm.label_name" required md-autofocus placeholder="Name">
              </md-input-container>

              <label ng-show="formula_show" class="fs-16">Formula </label>
                <md-input-container class="md-block mb-0" ng-show="vm.formula_show">
                  <input name="name"  ng-model=vm.formula required md-autofocus uppercased placeholder="Formula" >
                </md-input-container>
                <!-- uppercased ng-keyup='vm.changeUppercase(vm.formula)' -->

              <!-- currency type -->
              <md-input-container class="md-block mb-0" ng-show="vm.currency_show">
                
                  <label  class="fs-16">Currency Type </label>
                  <md-select name="currency_type" required ng-model="vm.currency_type" placeholder="Select a Currency" style="width:140px"  ng-disabled="!vm.currency_show">
                    <md-option ng-value="curr.name" ng-repeat="curr in currency">{{curr.name}}</md-option>
                  </md-select>
                
                </md-input-container>
              <!-- end -->

              


                <!-- Decimals type -->
                <div class="numbers-holder">
                <md-input-container class="md-block mb-0" ng-show="vm.number_show">
                    <div>
                    <label  class="fs-16">Decimals </label>
                    <md-select name="number_type" required ng-model="vm.number_type" placeholder="" style="width:140px"  ng-disabled="!vm.number_show">
                      <md-option ng-value="deci.value" ng-repeat="deci in decimal">{{deci.value}}</md-option>
                    </md-select>

                  </div>

                    <div>
                    
                        <label ng-show="vm.number_show" class="fs-16">Percentage </label>
                        <button type="button"
                        ng-click="vm.selectPercentage()"
                        class="button-icon-reset" aria-label="role">
                        <md-icon ng-show="!vm.percentage"
                          md-font-icon="icon-checkbox-blank-outline" class="md-accent-fg s18"></md-icon>
                        <md-icon ng-show="vm.percentage"
                          md-font-icon="icon-checkbox-marked-outline" class="md-accent-fg s18"></md-icon>
                      </button>
                    
                       


                    </div>

                  
                  
                  </md-input-container>
                </div>
                <!-- end -->


                <!-- Text Cell -->
                  <label ng-show="vm.text_show">Characters before wrapping text </label>
                <md-input-container class="md-block mb-0" ng-show="vm.text_show">
                    <input type="number" name="name" ng-model="vm.text" required md-autofocus placeholder="">
                  </md-input-container>

              <!-- Text Cell -->
              <md-dialog-actions layout="row" layout-align="space-between center">
                  <div layout="row" layout-align="end center" flex>
                    <md-button type="submit"  ng-click="vm.saveFormat()" class="md-raised md-accent" 
                      aria-label="Save" translate="GROUP.SAVE" translate-attr-aria-label="GROUP.SAVE" ng-disabled="!vm.cellSelected">
                      SAVE 
                    </md-button>

                    <md-button type="submit"  ng-click="vm.saveDone(vm.table_id)" class="md-raised md-accent" 
                    aria-label="Done" translate="" translate-attr-aria-label="">Done
                  </md-button>

                 

                  


                  </div>
            
                </md-dialog-actions>

                <div class="data_tabel_title" style="text-align: center"><span>{{vm.dataTableName}}</span></div>


      <table class="table table-bordered chk_data_table_header">
          <tbody>
              <tr>
                  <td height="20" style="width: 2%; cursor: pointer;border: none !important;" class="block"></td>
                  <td  height="20" ng-repeat="(key,header) in vm.header_names" style="width: 100px; cursor: pointer"  class="block">                  
                        {{header}} 
                      </td>
                    </tr>
              </tbody>
          </table>
          <table class="table table-bordered chk_data_table" cellspacing="0" cellpadding="0">
              
              <!-- {{vm.records}} -->
              <tbody>

                  <tr ng-repeat="(key_row,row) in rows track by $index"  ng-init="current = $first ? $parent.start=0 : $parent.start; $parent.start=$parent.start+columns.length;initRow(key_row)">
                      <td height="20" style="width: 2%; cursor: pointer" class="input_border block cell-border-none">{{key_row + 1}}</td>
                      <td  height="20" ng-repeat="(key,column) in columns" style="width: 100px; cursor: pointer"
                        ng-click="vm.select(row, column,current + $index,vm.header_names[$index],key_row+1)"
                        ng-style="{ background: row == vm.selectedRow && column == vm.selectedColumn ? 'yellow' : 'none' }" data-ng-init="init(vm.header_names[$index], key,key_row+1,$index,current + $index)" class="input_border block" ng-class="['Date','Formula','Currency','Text','Number'].indexOf(vm.data_table_structure[current + $index].type) > -1 ? 'cell-border' : 'cell-border-none'">
                       <div>
                        <b><span ng-bind-html="vm.myrecords[current + $index][vm.header_names[$index]+vm.rowIndex[key_row]]" class="{{vm.data_table_structure[current + $index].text_align}} {{vm.data_table_structure[current + $index].text_position}}"></span></b></div>
                                              
                      </td>
                    </tr>

                    <!-- {{vm.data_table_structure[current + $index].text_align}}, {{vm.data_table_structure[current + $index].text_position}} -->

                  <!-- <tr ng-repeat="row in vm.records">
                      <td ng-repeat="column in row" >
                          <span ng-bind-html="column"></span>
                      </td>

                      <td class="text-center">
                    <i class="fa fa-times-circle fa-lg text-danger" 
                    ng-if="!$first"
                    ng-click="vm.remove($index)"
                    title="Delete" aria-hidden="true"></i>
                
                <i class="fa fa-plus-circle fa-lg text-success"
                    ng-if="$last"
                    ng-click="vm.add($index)"
                    title="Add" aria-hidden="true"></i>
                </td>

                    </tr>
                    <tr>
                      <td colspan="100%"> 
                        <i class="fa fa-plus-circle fa-lg text-success"
                        ng-click="vm.save()"
                        title="Save" aria-hidden="true"></i></td>

                    </tr> -->

              <tr ng-repeat="record in vm.records">
                
                
                <!-- <td class="text-center">
                    <i class="fa fa-times-circle fa-lg text-danger" 
                    ng-if="!$first"
                    ng-click="vm.remove($index)"
                    title="Delete" aria-hidden="true"></i>
                
                <i class="fa fa-plus-circle fa-lg text-success"
                    ng-if="$last"
                    ng-click="vm.add()"
                    title="Add" aria-hidden="true"></i>
                </td> -->
              </tr>
              </tbody>
            </table>
            <br>
          
          <!-- Selected (row, column): 
          <br>
          ({{selectedRow || 'undefined'}}, {{selectedColumn || 'undefined'}}) -->


        <!-- <table class="simple row-border hover bordered-table">
          <thead>


            <tr ng-if="filteredContacts.length>0">
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Name</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Organization</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Phone</span>
                </div>
              </th>
              <th class="secondary-text hide-xs" colspan="2">
                <div class="table-header">
                  <span class="column-title">Email</span>
                </div>
              </th>


            </tr>
          </thead>
          <tbody>
            <tr ng-if="contact.contacts.originator.organization!=contact.contacts.accepter.organization && contact.deleted_by!==vm.user_id" ng-repeat="contact in vm.contacts | filter: vm.search | filter: globalSearch.searchTerm | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredContacts track by contact.id "
              ng-switch="(which = vm.showWhichInviteContactData(contact))" ng-click="vm.openContactDialog($event, contact)"
              ng-class="{'md-green-100-bg':vm.passID==contact.id}">
              <td>
                <span class="link-color">{{contact.contacts[which].name.full}}</span>
              </td>
              <td class="hide-xs">
                <span class="link-color"> {{contact.contacts[which].organization}}
                </span>
              </td>

              <td>
                {{contact.contacts[which].phone}}
              </td>
              <td>
                {{contact.contacts[which].email}}
              </td>

              <td ng-switch="(withdrawing = (vm.memberInvites.invite.withdraw.inProgress.indexOf(invite.id) > -1))" class="text-right">

                <md-menu>
                  <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button table-md-icon-button" aria-label="More"
                    translate translate-attr-aria-label="">
                    <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
                  </md-button>

                  <md-menu-content width="3">

                    <md-menu-item ng-if="contact.accepted">
                      <md-button ng-click="vm.Confirmation($event, contact.contacts[which], contact.contacts[which].id, 'delete')">
                        <md-icon class="red-600-fg s18" md-font-icon="icon-trash"></md-icon>
                        <span translate="CONTACTS.DELETE_CONTACT">Delete Contact</span>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="contact.accepted">
                      <md-button ng-click="vm.openDirectMessageDialog(contact, contact.name.full, $event)">
                        <md-icon class="md-accent-fg s18" md-font-icon="icon-comment-multipe-outline"></md-icon>
                        <span translate="CONTACTS.DIRECT_MESSAGING">Direct Message</span>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="contact.accepted=='' && which=='originator'">
                      <md-button ng-click="vm.acceptConnectionInvitation(contact.contacts.originator.id, $index)">
                        <md-icon class="md-accent-fg s18" md-font-icon="icon-plus-circle-outline"></md-icon>
                        <span translate="CONTACTS.ACCEPT_INVITE">Accept Invitation</span>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="contact.accepted=='' && which=='originator'">
                      <md-button ng-click="vm.removeConnectionInvitation(contact.contacts.originator.id,'reject')">
                        <md-icon class="red-600-fg s18" md-font-icon="icon-minus-circle-outline"></md-icon>
                        <span translate="CONTACTS.REJECT_INVITE">Reject Invitation</span>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="contact.accepted=='' && which=='accepter'">
                      <md-button ng-click="vm.removeConnectionInvitation(contact.contacts.accepter.id,'withdrawn')">
                        <md-icon class="red-600-fg s18" md-font-icon="icon-minus-circle-outline"></md-icon>
                        <span translate="CONTACTS.WITHDRAW_INVITE">Withdraw Invitation</span>
                      </md-button>
                    </md-menu-item>

                  


                  </md-menu-content>
                </md-menu>

              </td>

            </tr>
          </tbody>
        </table> -->

      </div>
</md-dialog-content>
</md-dialog>