
md-dialog {
.alertMsg label, .md-char-counter{
  color:rgba(0,0,0,0.87) !important;
}
#fileattachment .md-required{
  color:rgba(0,0,0,0.54) !important;
}
.conversion-title{
  text-transform: capitalize !important;
}
  &.dialog {
    max-width: 720px;
    width: 720px;
    md-tabs-wrapper {
      background-color: #406EA0 !important;
  }
    md-dialog-content {

      display: block;
      position: relative;

      table.simple {

        font-size: 1.25rem;

        thead {

          tr {

            th {
              padding: 8px 8px;

              &:first-child {

                padding-left: 4px;
              }

            }
          }

        }

        tr {

        }

        td {
          padding: 8px 4px;
          line-height: 24px;
        }

      }
    }

    md-toolbar {
      max-height: 40px !important;
      min-height: 40px !important;

      .title {
        font-size: 1.25rem;
      }
    }
    .custom_close{
      position: absolute;
      right: 35px;
      max-width: 125px;
      width: 100%;
      margin-right: 15px;
    }

    .md-button {
      font-size: 12px;
      min-height: 0px !important;
      line-height: 24px;
      margin-left: 0px !important;
    }

    .icon-button {
      margin: 0 !important;
      min-width: 0 !important;
    }

    md-input-container {

      margin-bottom: 0px;

      textarea {
        /*min-height: 150px;*/
      }
    }

    .navigation {
      text-align: center;
      font-weight: 400;
      transition: none;
      color: #039be5;
    }

    md-dialog-actions {
      max-height: 40px !important;
      min-height: 40px !important;
      position: relative;
      overflow-y: hidden;
      overflow-x: auto;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.03);
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-md) {

  md-dialog {

    &.dialog {
      width: 80%;
    }

    table.simple {

      font-size: 1.2rem;

      thead {

        tr {

          th {
            font-weight: 500;
            padding: 8px 4px;
            min-width: 1px;

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }

          }
        }

      }

      tr {

      }

      td {
        padding: 8px 4px !important;

      }

    }

  }
}

@media screen and (max-width: $layout-breakpoint-xs) {

  md-dialog {

    &.dialog {
      width: 98%;

      md-dialog-content {
        padding: 32px 12px 12px;
      }

      md-input-container {

        margin-bottom: 0px;
      }

    }

    table.simple {

      font-size: 1.1rem;

      padding: 4px 4px;

      thead {

        tr {

          th {
            padding: 8px 8px;

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }

          }
        }

      }

      tr {

      }

      td {
        line-height: 24px !important;

      }

    }

  }
}
.formating-holder {
  display: flex;
  align-items: center;
  margin: 15px 0;
  > label {
    padding-right: 10px;
  }
  > md-input-container {margin: 0;}
}

.numbers-holder 
{> md-input-container {
  display: flex;
  margin-top: 0;
  label.fs-16 {
    position: static;
  }
  > div {
    display: flex;
    align-items: center;
  }
  md-select {
    margin: 10px;
  }
}
}

// data-table-dialog.html css starts

md-dialog.dataTable {

  // md-dialog.dialog {
    max-width: 95%;
    width: 95%!important;
  // }

  .chk_data_table_header {
    border: 2px solid #9E9E9E !important;
    border-bottom: 0px !important;
    border-collapse: collapse;
  }

  table.table.table-bordered.chk_data_table_header tr td {
    height: 1px;
    text-align: center;
    border: 2px solid #a7a7a7;

    padding: 2px;
    border-bottom: none !important;
  }

  table.table.table-bordered.chk_data_table_header tr td:last-child {
    border-right: 0px !important;
  }

  .chk_data_table,
  .chk_data_table_header {
    width: 100%;
    white-space: nowrap;

    table-layout: fixed;
  }

  td.input_border {

    padding: 5px;
    min-height: 40px;
    height: 40px;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    /* white-space: pre-wrap;  */
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
  }

  span.table_detail {
    border-bottom: 2px solid #416ea3;
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
  }

  .data_tabel_title {
    margin-bottom: 20px;
  }

  .data_tabel_title span {
    display: inline-block;
    padding: 0 40px 0 40px;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 2px solid #416ea3;
  }

  td.cell-border {
    border: 3px solid #000 !important;
    /* border-bottom: none !important; */
    /* padding: 0px !important;
      border: 1px solid #9E9E9E !important; */

  }

  td.cell-border-none {
    border: 2px solid #9E9E9E !important;
    text-align: center;

  }

  .chk_data_table {
    border-collapse: collapse;

  }



  .chk_data_table span {
    display: block;
  }

  .chk_data_table span.right {
    text-align: right;
  }

  .chk_data_table span.left {
    text-align: left;
  }

  .chk_data_table span.center {
    text-align: center;
  }

  .chk_data_table span.top {
    vertical-align: top;
  }

  .chk_data_table span.middle {
    vertical-align: middle;
  }

  .chk_data_table span.bottom {
    vertical-align: bottom;
  }

  .fs-16 {
    font-size: 16px;
  }

  md-input-container label {
    font-size: 16px;
  }
}

// data-table-dialog.html css ends

.header_text{
  border: none !important;
  border-bottom: 1px solid #c6c6c6  !important;
}

div.user_dropdown div{
  display: inline-block;
  margin-left: 10px;
}

div.user_dropdown div button{
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}