#stats {
  
    table { width:100%; }
    tr{
        border-bottom:1px solid red;
    }
    
    
}

.bordered-table tbody td {
    border-bottom: 1px solid #517cc6  !important;
    padding: 8px  !important;
}

.bordered-table thead th {
    border-bottom: 1px solid #517cc6  !important;
   // border-top: 1px solid #517cc6  !important;
    padding:8px !important;
}

.oganization-form > form {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oganization-form > form > .layout-column {
    width: 90%;
}

.oganization-form > form > .layout-column > md-input-container > input, textarea {width: 80% !important;border-bottom: 1px solid #4472c4 !important;font-size: 12px !important;}

textarea {
    width: 90% !important;
}

button.md-raised {
    border-radius: 0;
    padding: 2px 15px;
    align-self: unsafe;
}

.oganization-form {
    border: 1px solid #416ea3;
}
.pt-20{
    padding-top: 20px;
}

md-menu-content.custom, md-menu-content.custom md-menu-item {
    padding: 0;
    min-height: 40px;
    height: 40px;
    overflow: hidden;
}
 md-menu-content md-icon {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
md-menu-content.custom {
    border: 1px solid #416ea3;
}
#stats a span .noactive{
    color:black;
}

#lh-5{
    line-height: 5px !important;
}
.orgdetail{
    max-width: 30% !important;

    .name{
        font-size: 24px;
    }
table{
padding:15px !important;
    }
}