<div class="simple-table-container md-background-bg md-whiteframe-1dp pt-30">

    <div layout="row" layout-align="start center" class="pl-25" ng-hide="!vm.reports.progress">
        <md-progress-circular ng-disabled="!vm.reports.progress" md-mode="indeterminate" md-diameter="20">
        </md-progress-circular>
      </div>
     
    <table class="simple row-border hover bordered-table" cellpadding="0" cellspacing="0">
        <rbody>
            <tr layout="row" layout-align="center center">

                <td flex=100 class="text-center table-header-padding"> <b>Page 1 of 4</b></td>
                <td class="text-right">
                    <md-menu>
                        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button table-md-icon-button"
                            aria-label="Sort" translate translate-attr-aria-label="DASHBOARD.ARRANGE">
                            <md-icon md-font-icon="icon-dots-horizontal s18"></md-icon>

                        </md-button>

                        <md-menu-content width="3">


                            <md-menu-item ng-show="vm.checkIsPermission.indexOf('create-workflows') !== -1">
                                <md-button ng-click="vm.openGroupDialog($event, 'arrange')"
                                    translate-attr-aria-label="DASHBOARD.PASTE">
                                    <md-icon class="md-accent-fg s18" md-font-icon="icon-square-inc"></md-icon>
                                    <span translate="DASHBOARD.ARRANGE">Arrange</span>
                                </md-button>
                            </md-menu-item>

                            <md-menu-item ng-show="vm.checkIsPermission.indexOf('create-workflows') !== -1">
                                <md-button ng-click="vm.openGroupDialog($event, 'pdf')" aria-label="Paste"
                                    translate-attr-aria-label="DASHBOARD.DOWNLOAD_PDF">
                                    <md-icon class="md-accent-fg s18" md-font-icon="icon-file-pdf"></md-icon>
                                    <span translate="DASHBOARD.DOWNLOAD_PDF"></span>
                                </md-button>
                            </md-menu-item>

                            <md-menu-item ng-show="vm.checkIsPermission.indexOf('create-workflows') !== -1">
                                <md-button ng-click="vm.openGroupDialog($event, 'edit')" aria-label="Paste"
                                    translate-attr-aria-label="DASHBOARD.EDIT_NAME">
                                    <md-icon class="md-accent-fg s18" md-font-icon="icon-pencil"></md-icon>
                                    <span translate="DASHBOARD.EDIT_NAME"></span>
                                </md-button>
                            </md-menu-item>

                            <md-menu-item ng-show="vm.checkIsPermission.indexOf('create-workflows') !== -1">
                                <md-button ng-click="vm.openGroupDialog($event, 'delete')" aria-label="Paste"
                                    translate-attr-aria-label="DASHBOARD.DELETE_TILE">
                                    <md-icon class="md-accent-fg s18" md-font-icon="icon-trash"></md-icon>
                                    <span translate="DASHBOARD.DELETE_TILE"></span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    </th>

                </td>
            </tr>
            </tbody>

    </table>

    <div layout="row">
        <div layout="column" flex="50">
                <div class="text-center pt-10"><strong>Total Due By Date</strong></div>
                <!-- <canvas class="chart chart-line p-20" chart-data="data" chart-labels="labels" 
                chart-series="series" ></canvas>  -->

                <canvas id="bar" class="chart chart-bar p-20"
                chart-data="graphdata" chart-labels="labels"
                chart-series="series" chart-colors="ColorBar"
                chart-options="options"  chart-hover="hoverme"
                chart-dataset-override="DataSetOverride"></canvas>
                
        </div>

        <div layout="column" flex="50">
                <div class="text-center pt-10"><strong>Total Due Dough Rice By Date</strong></div>
                <canvas id="bar" class="chart chart-bar p-20"
                chart-data="graphdata" chart-labels="labels"
                chart-series="series" chart-colors="ColorBar"
                chart-options="options"  chart-hover="hoverme"
                chart-dataset-override="DataSetOverride"></canvas>
            </div>

    </div>


<div layout="column" class="p-20">

<div gantt data="data"  enabled="false" from-date="gantt_options.fromDate"
to-date="gantt_options.toDate"
view-scale="gantt_options.scale">
<gantt-tree></gantt-tree>
</div>


</div>


</div>


