<div id="template" class="page-layout simple tabbed pad-0 " layout="column">


<page-toolbar datas="vm.submenu"> </page-toolbar>

<div ng-cloak class="subtab pt-30">

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-click="myvalue = false;">
      <md-tab-label>
        <span>Internal Templates</span>
      </md-tab-label>
      <md-tab-body>
        <div ng-include="'app/main/templates/partials/public-templates.html'"></div>
      </md-tab-body>
    </md-tab>

    <md-tab class="pr-30" ng-click="myvalue = true;">
      <md-tab-label>
        <span>Public Templates{{myvalue}}</span>
      </md-tab-label>
      <md-tab-body>
        <div ng-include="'app/main/templates/partials/internal-templates.html'"></div>
      </md-tab-body>
    </md-tab>

    
    <md-tab class="pr-30" ng-if="myvalue">
      <md-tab-label>
        <md-menu>
          <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button table-md-icon-button" aria-label="Sort"
            translate translate-attr-aria-label="CONTACTS.SORT">
            <md-icon  md-font-icon="icon-dots-vertical s18" id="lh-5" ng-click="$mdOpenMenu($event)"></md-icon>
          </md-button>

          <md-menu-content width="3">

            <md-menu-item>
              <md-button ng-click="vm.findPublicTemplate($event)">
                <i class="fa fa-search s18" md-font-icon="icon-account-plus"></i>
                <span translate="">Search Public Tempate</span>
              </md-button>
            </md-menu-item>
           
          </md-menu-content>

        </md-menu>
        </md-tab-label>
        <md-tab-body>
          <div ng-include="'app/main/templates/partials/internal-templates.html'"></div>
        </md-tab-body>
        </md-tab>

  </md-tabs>
</div>





  <!-- / CONTENT -->
<div class="bd-loader"  ng-if="vm.isLoader">
  <md-progress-circular md-diameter="40"></md-progress-circular>
</div>

</div>
