<div id="templates" class="page-layout simple tabbed" layout="column">

  <!-- HEADER -->
  <!--<div class="header md-accent-bg" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>

      <div layout="column" layout-align="start start">
        <div class="h2">
          <span>Templates</span>
        </div>

      </div>
    </div>
  </div>
-->
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">
    <md-tabs md-dynamic-height>

      <md-tab>
        <md-tab-label>
          <span translate="" id="internal">Internal Templates</span>
        </md-tab-label>

        <md-tab-body>
          <div ng-init="templatetype = '1'"  ng-include="'app/main/templates/partials/internal-templates.html'"></div>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          <span translate="" id="public">Public Templates</span>
        </md-tab-label>

        <md-tab-body>
          <div ng-init="templatetype = '2'" ng-include="'app/main/templates/partials/public-templates.html'"></div>
        </md-tab-body>
      </md-tab>


    </md-tabs>

  </div>
  <!-- / CONTENT -->
<div class="bd-loader" ng-if="vm.isLoader">
  <md-progress-circular md-diameter="40"></md-progress-circular>
</div>

</div>
