<!-- DIALOG -->
<md-dialog class="dialog" aria-label="New Task">

    <form name="contactForm" class="md-inline-form" ng-disabled="vm.searching" ng-submit="vm.queryContacts(vm.findContacts.criteria)">

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">Assign Checklist</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->


        <md-dialog-content ms-scroll>

        <table class="simple" ms-responsive-table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <td></td>
                    </tr>
                </tfoot>

                <tbody>
                    <tr ng-repeat="contact in vm.members.list">
                        <td class="name">{{contact.name.full}}</td>

                        <!--<td class="name">{{res.email}}</td>-->
                        <td class="text-right">
									<button type="button" ng-click="vm.queue.assign.assign(contact)" ng-switch="vm.queue.assign.contact.idCON == contact.idCON" class="md-accent md-button md-raised ng-scope md-ink-ripple md-default-theme">Assign</button>
						</td>
                    </tr>
                </tbody>
            </table>

        </md-dialog-content>

    </form>
</md-dialog>
<!-- / DIALOG -->
