<div class="simple-table-container form-container md-background-bg md-whiteframe-1dp">

  <table class="simple row-border hover bordered-table" cellspacing="0" cellpadding="0" ms-responsive-table>
    <thead>
      <tr class="hide-xs">

        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title"></span>
          </div>
        </th>

        <th ng-repeat="role in vm.memberRoles.permission_set" class="hide-xs secondary-text">
          <div class="text-center capitalize">{{role[0].role}}</div>
        </th>
        <th class="secondary-text">
          <div class="text-center"></div>
        </th>
      </tr>

    </thead>
    <tbody>
      <tr ng-repeat="member in vm.memberRoles.list | filter: globalSearch.searchTerm | orderBy: 'name.full'"
        ng-class="[{success:(isUser = (member.idCON == user.idCON))},{warning:(isViewing = (viewAs.notMe && (member.idCON == viewAs.user.idCON)))}]">

        <td>{{member.name.full}}&nbsp; <md-icon ng-show="isViewing" layout-align="start center" class="md-accent-fg s18"
            md-font-icon="icon-eye"></md-icon>
        </td>

        <td ng-repeat="role in vm.memberRoles.roles " ng-switch="member.roles" class="text-center hide-xs">
          <button type="button" ng-disabled="true" class="button-icon-reset" aria-label="role">
            <md-icon ng-show="member.roles.has.indexOf(vm.rolekeys[$index]) == -1"
              md-font-icon="icon-checkbox-blank-outline" class="md-accent-fg s18"></md-icon>
            <md-icon ng-show="member.roles.has.indexOf(vm.rolekeys[$index])!==-1"
              md-font-icon="icon-checkbox-marked-outline" class="md-accent-fg s18"></md-icon>
          </button>
        </td>

        <td ng-switch="(offboarding = (vm.members.offboard.inProgress.indexOf(member.idCON) > -1))" class="text-right">
          <div class="buttons" layout="row" layout-align="end center">
            <md-menu ng-init="vm.checkRole(member.roles.has)" ng-show="vm.permission_to_add_subscription[$index]">
              <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button table-md-icon-button" aria-label="More"
                translate translate-attr-aria-label="">
                <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item >
                  <md-button ng-click="vm.openSubscriptionDialog(member)">
                    <md-icon class="md-accent-fg fa fa-plus-circle s18" md-font-icon="icon-comment-multipe-outline">
                    </md-icon>
                    <span>Add Subscriptions</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>