<div class="simple-table-container form-container md-background-bg md-whiteframe-1dp">
  <table class="simple row-border hover bordered-table" cellspacing="0" cellpadding="0" ms-responsive-table>
    <thead>
    <tr class="hide-xs">

      <th class="secondary-text">
        <div class="table-header">
          <span class="column-title">Name</span>
        </div>
      </th>

      <th ng-repeat="role in vm.members.roles" class="hide-xs secondary-text">
        <div class="text-center capitalize">{{role}}</div>
      </th>
      <th class="secondary-text">
        <div class="text-center"></div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="member in vm.members.list | filter: globalSearch.searchTerm | orderBy: 'name.full'"
        ng-class="[{success:(isUser = (member.idCON == user.idCON))},{warning:(isViewing = (viewAs.notMe && (member.idCON == viewAs.user.idCON)))}]">

      <td>{{member.name.full}}&nbsp;    <md-icon ng-show="isViewing"
                                                 layout-align="start center"
                                                 class="md-accent-fg s18"
                                                 md-font-icon="icon-eye"></md-icon>
      </td>

      <td ng-repeat="role in vm.members.roles"
          ng-switch="member.roles.setting.indexOf(role)!==-1"
          class="text-center hide-xs">

        <!-- <button type="button"
                ng-disabled="viewAs.notMe || !permissions.canChange"
                ng-switch-when="false"
                ng-switch="has = member.roles.has.indexOf(role)!==-1"
                ng-click="member.roles.set(role,!has)"
                class="button-icon-reset"
                aria-label="role">
          <md-icon ng-switch-when="false" md-font-icon="icon-checkbox-blank-outline" class="md-accent-fg s18"></md-icon>
          <md-icon ng-switch-when="true" md-font-icon="icon-checkbox-marked-outline" class="md-accent-fg s18"></md-icon>
        </button> -->
        <button type="button"
        ng-disabled="viewAs.notMe || !permissions.canChange"
        ng-switch-when="false"
        ng-switch="has = member.roles.has.indexOf(role)!==-1"
        ng-click="member.roles.set(role,!has)"
        class="button-icon-reset"
        aria-label="role">
          <md-icon ng-switch-when="false" md-font-icon="icon-checkbox-blank-outline" class="md-accent-fg s18"></md-icon>
          <md-icon ng-switch-when="true" md-font-icon="icon-checkbox-marked-outline" class="md-accent-fg s18"></md-icon>
        </button>

        
      </td>

      <td ng-switch="(offboarding = (vm.members.offboard.inProgress.indexOf(member.idCON) > -1))"
          class="text-right">


        <div class="buttons" layout="row" layout-align="end center">

          <md-menu>
            <md-button ng-click="$mdOpenMenu($event)"
                       class="md-icon-button table-md-icon-button" aria-label="More" translate
                       translate-attr-aria-label="">
                       <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
            </md-button>


            <md-menu-content width="3">
              <md-menu-item ng-hide="(!permissions.has('offboardMember',member)) || offboarding">
                <md-button ng-click="vm.members.offboard.execute(member)" ng-disabled="offboarding"
                           translate-attr-aria-label="TEAMMEMBERS.DELETE_MEMBER">
                  <md-icon class="red-600-fg s18" md-font-icon="icon-trash"></md-icon>
                  <span translate="TEAMMEMBERS.DELETE_MEMBER">Delete Member</span>
                </md-button>
              </md-menu-item>

            
                  <md-menu-item>
                    <md-button ng-click="vm.openSubscriptionDialog(member)">
                        <md-icon class="md-accent-fg fa fa-plus-circle s18" md-font-icon="icon-comment-multipe-outline"></md-icon>
                      <span>Add Subscriptions</span>
                    </md-button>
                  </md-menu-item>


              <md-menu-item ng-show="(!isUser && !isViewing) || ((isUser) && viewAs.notMe)">
                <md-button ng-click="viewAs.select(member)" aria-label="View As"
                           translate-attr-aria-label="TEAMMEMBERS.VIEW_AS">
                  <md-icon class="md-accent-fg s18" md-font-icon="icon-eye"></md-icon>
                  <span translate="TEAMMEMBERS.VIEW_AS">View As</span>
                </md-button>
              </md-menu-item>

            </md-menu-content>
          </md-menu>

        </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>
