.license-wrapper button {
  padding: 0;
  min-width: 55px;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}
.license-wrapper md-dialog-content {
padding: 10px 10px 0px 10px !important;
}
.license-wrapper button:hover, .license-wrapper button:focus, .license-wrapper button:active {
  background: #32649f !important;
}

#team-members {

  .subtab md-tabs-wrapper md-pagination-wrapper md-tab-item:nth-child(2){
    float: left !important;
  }
  table.dataTable {

    tbody {

      td {
        padding: 16px 8px;
        vertical-align: middle;

        &:first-child {
          padding-left: 24px;
        }

        &:last-child {
          padding-right: 24px;
        }

      }

    }

  }

  .table-md-icon-button {
    padding: 0 8px !important;
    height: auto !important;
  }

}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

  #team-members {

    md-tab-content {
      padding: 0 !important;
    }

    .table-md-icon-button {
      padding: 0 8px !important;
      height: auto !important;
    }

  }
}
