<div class="simple-table-container md-background-bg md-whiteframe-1dp">

  <table class="simple bordered-table">
    <thead>
    <tr ng-if="vm.invites.sent.length">
        <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">To</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Organization</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Type</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Name</span>
            </div>
          </th>
          <th class="secondary-text" colspan="2">
            <div class="table-header">
              <span class="column-title">Date Received</span>
            </div>
          </th>
    </tr>
    <tr ng-if="!vm.invites.sent.length">
      <th class="secondary-text">
        <div class="table-header">
          <!-- <span class="column-title">(0) Invitations Pending</span> -->
          <span class="column-title">(0) Links Pending</span>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="invite in vm.invites.sent | filter: globalSearch.searchTerm | orderBy: 'created'">
        <td>
          {{invite.users.recipient.name}}
  
          </td>
          <td>
             {{invite.users.recipient.organization}}
  
          </td>
          <td>
           <span class="capitalize"> {{invite.type=='group' ? 'Workflow' : invite.type }}</span>
          </td>
          <!-- //{{vm.passed.id}}// -->
          <td class="hide-xs">
              {{invite.name}}
          </td>
  
          <td class="hide-xs">
              {{invite.created * 1000 | date : "MM-dd-yyyy" }}
            </td>


      <td class="text-right">

        <md-menu  ng-if="!$root.viewAs.notMe">
          <md-button ng-click="$mdOpenMenu($event)"
                     class="md-icon-button table-md-icon-button" aria-label="More" translate
                     translate-attr-aria-label="">
                <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
          </md-button>

          <md-menu-content width="3">

            <md-menu-item ng-hide="viewAs.notMe || vm.invite.destroying">
              <md-button ng-click="vm.inviteControl.destroy('sent', invite)"
                         translate-attr-aria-label="INVITATIONS.REJECT_INVITATION">
                <md-icon class="red-600-fg s18" md-font-icon="icon-trash"></md-icon>
                <span> Withdraw Invitation</span>
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>
      </td>
    </tr>
    </tbody>
  </table>

</div>
