<div class="form-wrapper md-whiteframe-1dp flex" id="stats">


    <table width>
        <thead>
            <tr>
                <th width="100"><a href="#"><span>Permissions</span></a></th>
                <th><a href="/organization/info"><span class="notactive">Subscriptions</span></a></th>
            </tr>
        </thead>

    </table>

    <table class="bordered-table" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th colspan="2"></th>
                <th>Account Owner</th>
                <th>Manager</th>
                <th>Controller</th>
                <th>Admin</th>
                <th colspan="2">User</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="permission in [1,2,3]">

                <td>Douglas Rice</td>
                <td>Admin</td>
                <td><i class="fa s16 fa-check-square"></i></td>
                <td><i class="fa s16 fa-check-square"></i></td>
                <td><i class="fa s16 fa-check-square"></i></td>
                <td><i class="fa s16 fa-check-square"></i></td>
                <td><i class="fa s16 fa-check-square"></i></td>
                <td text-center>
                    <md-icon class="ng-scope md-font icon-dots-vertical s18 material-icons md-default-theme"
                    aria-hidden="true"></md-icon>
                </td>


            </tr>


        </tbody>
    </table>

</div>