<md-dialog class="dialog" aria-label="New Folder">
  <form name="templateForm" class="md-inline-form" ng-submit="vm.publishTemplate()" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">{{vm.title}}</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll class="padding-bottom-0">
      <md-input-container class="md-block mb-0">
        <label translate="CHECKLIST.TEMPLATE_NAME">Template Name</label>
        <input name="name" ng-model="vm.publish.name" required md-autofocus>
        <div ng-messages="templateForm.name.$error" ng-show="templateForm.name.$touched" role="alert">
          <div ng-message="required">
            <span translate="CHECKLIST.TEMPLATE_NAME">Template Name field is required</span>
          </div>
        </div>
      </md-input-container>


      <md-input-container class="md-block mb-0 mt-0">

        <md-checkbox ng-click="vm.publish.togglePrivate()"
                     ng-disabled="vm.publish.submitting"
                     ng-checked="vm.publish.pvt"
                     class="btn btn-link checkbox applies">
          Make Template Private
        </md-checkbox>

      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button type="submit"
                   class="md-raised md-accent"
                   ng-disabled="templateForm.$invalid"
                   aria-label="Save" translate="CHECKLIST.PUBLISH" translate-attr-aria-label="CHECKLIST.PUBLISH">
          PUBLISH TEMPLATE
        </md-button>
      </div>


    </md-dialog-actions>
  </form>
</md-dialog>
