<md-dialog class="dialog" aria-label="">
  <form name="groupForm" class="md-inline-form" novalidate id="myForm" novalidate> 
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">{{vm.title}}</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content ms-scroll>
      <md-input-container class="md-block mb-0" ng-show="vm.stepFirst">
        <md-radio-group ng-model="vm.plan">
            <b>Choose Type</b><br/>
          <div layout="row" ng-repeat="plans in vm.plans" padding class="pb-20 mt-20">
           
            <div class="column" flex="20"> 
              <b>{{plans[1].name}}</b>
            </div>
            <div class="column">
              <div layout="row">
                <div layout='column' ng-repeat="plan in plans" padding flex="50">
                  <md-radio-button flex ng-value="plan.braintree_plan" class="md-primary">
                    ${{plan.cost + "/" + plan.text}}
                  </md-radio-button>
                </div>
              </div>
            </div>

          </div>
        </md-radio-group>
      </md-input-container>
   
      <md-input-container ng-show="vm.plan && vm.stepSeconds" flex="100" style="min-width:100% !important;" >
        <div layout="row" class="justify-content-center">
          <div flex="40" padding layout="column" class="p-10">
            <b>{{vm.planDetail.name}}</b>

            
          </div>
          <div layout="column" flex="100" id="dropin-container">
          </div>

        </div>
      </md-input-container>
    </md-dialog-content>



    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="end center" flex >
        <md-button type="submit" ng-click="vm.getSinglePlanDetail()" ng-show="vm.stepFirst" class="md-raised md-accent"
          ng-disabled="groupForm.$invalid || groupForm.$pristine  || vm.alreadyclicked" aria-label="Next">
          Next 
        </md-button>
        <md-button type="submit" id="payment-button"  ng-show="vm.stepSeconds"  ng-disabled="!vm.alreadyclicked" ng-click="vm.addLicence(vm.planDetail)" class="md-raised md-accent d-none">
          Submit 
        </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>