<!-- TODO LIST ITEMS -->
<div class="todo-items" ng-sortable="vm.sortableOptions" ng-class="{'sortable': vm.taskOrder === ''}">

  <div class="" md-ink-ripple layout="row" layout-align="start center"
         ng-click="vm.openTaskDialog($event, task)"
         ng-repeat="task in vm.tasks  track by $index"
         >

        <div class="handle" ng-click="vm.preventDefault($event)">
            <md-icon md-font-icon="icon-drag-vertical" class="icon"></md-icon>
        </div>

        <md-checkbox class="no-label" ng-checked="task.completed"
                     ng-click="vm.toggleCompleted(task, $event)"
                     aria-label="{{task.completed ? 'Not completed' : 'Completed'}}">
        </md-checkbox>

        <div layout="row" layout-align="start center" flex>

            <div class="info" flex>
                <div class="title">
                    {{task.title}}
                </div>

            </div>
        </div>
    </div>
</div>
<!-- / TODO LIST ITEMS -->
