<div id="user" class="page-layout simple tabbed" layout="column">
  <div class="content">
    <md-tabs md-dynamic-height>

      <md-tab>
        <md-tab-label>
          <span translate="">My Profile</span>
        </md-tab-label>

        <md-tab-body>
          <div ng-if="!vm.type" ng-include="'app/main/user/partials/stats.html'"></div>
          <div ng-if="vm.type=='stats'" ng-include="'app/main/user/partials/stats.html'"></div>
          <div ng-if="vm.type=='info'" ng-include="'app/main/user/partials/info.html'"></div>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          <a class="link org" href="/organization/stats ">
            <span translate="" class="notactive">Organization</span>
          </a>
        </md-tab-label>

      </md-tab>

      <md-tab>
        <md-tab-label>
          <a class="link org" href="/account">
            <span translate="" class="notactive">Account</span>
          </a>
        </md-tab-label>
      </md-tab>


    </md-tabs>

  </div>


</div>

