span.ms-form-wizard-step-text {
  color: black;
}
#template{

  .messagescroll{
    max-height: 200px;
    height: 200px;
    // height: auto;
    overflow-y: scroll;
}
.pl-0{
  padding-left: 0px !important;
}

  .form-container {
    padding: 24px;
    margin-bottom: 24px;
  }
  .isdec td{
    border-bottom: none !important;
  }

  .table-md-icon-button {
    padding: 0 8px !important;
    height: 18px !important;
  }
  md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple:nth-child(3) {
    float: right !important;
}

  .md-button.md-icon-button {
    margin: 0 0px;
    min-width: 0;
    line-height: 18px !important;
    padding: 0px;
    width: 20px;
    border-radius: 50%;
  }
  .subtab md-tabs-wrapper md-pagination-wrapper md-tab-item:nth-child(2){
    float:left !important;
  }
  span.column-title.ng-binding {
    display: table-cell;
    vertical-align: bottom;
}

.table-header {
    display: table;
}
.bordered-table thead th {
  padding:0px !important;
}
button.md-icon-button.md-button.ng-scope.md-ink-ripple.md-default-theme {
  vertical-align: middle;
}




}
.public-table .table-header{
  width:100px;
}
.public .table-header{
  padding-left: 25px;
}

