<div class="simple-table-container md-background-bg md-whiteframe-1dp">

  <md-button type="button"
             ng-hide="vm.reports.loading" ng-disabled="vm.reports.loading"
             ng-click="vm.reports.refresh()"
             class="md-accent md-raised md-button ng-scope md-ink-ripple md-default-theme">Refresh Report
  </md-button>

  <md-button type="button" ng-click="vm.reports.request()"
             class="md-accent md-raised md-button ng-scope md-ink-ripple md-default-theme">Request Report
  </md-button>

  <md-progress-linear ng-disabled="!vm.reports.progress" md-mode="indeterminate"></md-progress-linear>

</div>
