<div class="simple-table-container md-background-bg md-whiteframe-1dp">

  <div layout="row" layout-align="start center" class="pl-25" ng-hide="!vm.reports.progress">
    <md-progress-circular ng-disabled="!vm.reports.progress" md-mode="indeterminate"
                          md-diameter="20"></md-progress-circular>
  </div>

  <table class="simple row-border hover" ms-responsive-table>

    <thead>
    <tr>
      <th width="25%" class="secondary-text" ng-if="vm.reports.list.length">
        Date Generated
      </th>
      <th width="25%" class="secondary-text" ng-if="vm.reports.list.length">
        Type
      </th>
      <th width="25%" class="text-center" ng-if="vm.reports.list.length">
        <div class="secondary-text">
          Line Items
        </div>
      </th>

      <th class="secondary-text" ng-if="!vm.reports.list">
        <div class="table-header">
          <span class="column-title">(0) Reports Available</span>
        </div>
      </th>
      <th width="25%" ng-if="vm.reports.viewing" class="text-center">

      </th>

      <th width="25%" ng-if="!vm.reports.viewing" class="text-right">

        <md-menu>
          <md-button ng-click="$mdOpenMenu($event)"
                     class="md-icon-button table-md-icon-button" aria-label="More" translate
                     translate-attr-aria-label="">
            <md-icon md-font-icon="icon-dots-horizontal s18"></md-icon>
          </md-button>

          <md-menu-content width="3">

            <md-menu-item>
              <md-button ng-click="vm.reports.request()"
                         translate-attr-aria-label="">
                <md-icon class="md-accent-fg s18" md-font-icon="icon-file-multiple"></md-icon>
                <span translate="">Generate New Reports</span>
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>
      </th>

    </tr>


    </thead>
    <tbody>
    <tr ng-repeat="report in vm.reports.list | filter: globalSearch.searchTerm track by $index"
        ng-hide="vm.reports.viewing && vm.reports.viewing.id != $index"
        ng-class="{'md-green-100-bg': vm.reports.success && $index==0}">
      <td ng-click="vm.reports.view(report, $index)"
          ng-class="{'md-accent-fg': !vm.reports.viewing}">
        {{report.requested | date: 'short'}}
      </td>

      <td>
        {{report.type}}
      </td>

      <td class="text-center">
        {{report.lines.length}}
      </td>

      <td ng-if="!vm.reports.viewing" class="text-right">

        <md-menu>
          <md-button ng-click="$mdOpenMenu($event)"
                     class="md-icon-button table-md-icon-button" aria-label="More" translate
                     translate-attr-aria-label="">
            <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
          </md-button>

          <md-menu-content width="3">

            <md-menu-item>
              <md-button ng-click="vm.reports.view(report, $index)"
                         translate-attr-aria-label="">
                <md-icon class="md-accent-fg s18" md-font-icon="icon-file-document"></md-icon>
                <span translate="">View Report</span>
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>

      </td>

      <td ng-if="vm.reports.viewing" class="text-right">

        <button type="button"
                ng-show="vm.reports.viewing"
                ng-click="vm.reports.clear()"
                class="button-icon-reset"
                aria-label="close report">
          <md-icon class="s18" md-font-icon="icon-cancel"></md-icon>
        </button>
      </td>

    </tr>
    </tbody>
  </table>

</div>

<div ng-show="vm.reports.viewing" class="simple-table-container md-background-bg md-whiteframe-1dp">

  <table class="simple row-border hover" ms-responsive-table>
    <tbody>
    <tr
      ng-class="{'md-green-100-bg': vm.reports.viewingSub.id == $index}"
      ng-repeat="checklist in vm.reports.viewing.checklists"
      ng-show="checklist.lines.length">

      <td width="50%"
          ng-click="vm.reports.viewSub(checklist, $index, checklist.lastActive)"
          ng-class="{'md-accent-fg': vm.reports.viewingSub.id !== $index}">{{ checklist.name }}
      </td>
      <td width="25%" class="text-center">{{ checklist.lines.length }}</td>
      <td width="25%"></td>
    </tr>
    </tbody>
  </table>

</div>


<div ng-show="vm.reports.viewingSub" class="md-background-bg md-whiteframe-1dp">

  <div layout="row" layout-align="start center" class="p-24">
    <div flex="50" layput-align="start center">
      <b># Posts:</b>
      <span class="badge">{{vm.reports.viewingSub.postCount}}</span>
    </div>

    <div flex="50" layput-align="start center" class="text-right">
      <b>Last Active:</b> {{vm.reports.viewingSub.lastActive}}
    </div>

  </div>
  <div ng-show="checklist.location.length" layout="row" layout-align="start center">
    <div><b>Location:</b></div>
    <div layout-align="end center">
      <h3>{{vm.reports.viewingSub.location}}</h3>
    </div>
  </div>
  <div layout="row">
    <div class="simple-table-container flex">
      <table class="simple row-border hover" ms-responsive-table>
        <thead>
        <tr>
          <th>
            <div class="secondary-text">
              User
            </div>
          </th>
          <th hide show-gt-xs>
            <div class="secondary-text">
              Organization
            </div>
          </th>
          <th>
            <div class="secondary-text">
              Checklist
            </div>
          </th>
          <th class="text-center">
            <div class="secondary-text">
              <small>Conflicts</small>
            </div>
          </th>
          <th class="text-center">
            <div class="secondary-text">
              <small>NC</small>
            </div>
          </th>
          <th hide show-gt-xs class="text-center">
            <div class="secondary-text">
              <small>Complete</small>
            </div>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="line in vm.reports.viewingSub.lines">
          <td>{{line.contact.name.full}}</td>
          <td hide show-gt-xs>{{line.contact.org}}</td>
          <td>{{line.cfcName}}</td>
          <td class="text-center">{{line.counts.conflicts}}</td>
          <td class="text-center">{{line.counts.nonCompliant}}</td>
          <td hide show-gt-xs class="text-center">
            <span ng-show="line.cfcComplete">Y</span>
            <span ng-hide="line.cfcComplete">N</span>
          </td>

          <td class="text-right">
            <md-menu>
              <md-button ng-click="$mdOpenMenu($event)"
                         class="md-icon-button table-md-icon-button" aria-label="More" translate
                         translate-attr-aria-label="">
                <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
              </md-button>

              <md-menu-content width="3">

                <md-menu-item ng-hide="viewAs.notMe">
                  <md-button ng-click="vm.showComparison(vm.reports.viewingSub, line.contact, line.conflicted)"
                             translate-attr-aria-label="">
                    <md-icon class="md-accent-fg s18" md-font-icon="icon-checkbox-multiple-marked-outline"></md-icon>
                    <span translate="">Compare Checklists</span>
                  </md-button>
                </md-menu-item>

                <md-menu-item ng-show="line.contact.idACC == user.organization.idACC">
                  <md-button ng-click="vm.viewChecklistAsUser(vm.reports.viewingSub,line.contact)"
                             translate-attr-aria-label="">
                    <md-icon class="md-accent-fg s18" md-font-icon="icon-eye"></md-icon>
                    <span translate="">View As</span>
                  </md-button>
                </md-menu-item>

                <md-menu-item ng-show="line.contact.idACC == user.organization.idACC">
                  <md-button
                    ng-click="vm.openConversationDialog($event, 'checklist', vm.reports.viewingSub.idCNV_mostRecent, line.cfcName)">
                    <md-icon md-font-icon="icon-comment-multipe-outline" class="md-accent-fg s18"
                             md-menu-align-target></md-icon>
                    Conversations
                  </md-button>
                </md-menu-item>

              </md-menu-content>
            </md-menu>

          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-show="vm.reports.viewingSub.notes.length" class="row">
    <div class="col-sm-4"><b>Location:</b></div>
    <div class="col-sm-8">
      <p>{{vm.reports.viewingSub.notes}}</p>
    </div>
  </div>

</div>
