<!-- DIALOG -->
<md-dialog class="select-subscriptions-dialog" aria-label="Subscriptions">

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <md-dialog-content ms-scroll>
<div class="price-tables">
<div ng-repeat="off in vm.offers" class="price-table style-3 md-whiteframe-1dp layout-column" layout="column">
<div class="package-type">
<div class="title">{{off.name}}</div>
<div class="subtitle">{{off.tagline}}</div>
</div>

<div class="price md-primary-bg md-hue-3 layout-align-center-start layout-row" layout="row" layout-align="center start">
<div class="currency">$</div>
<div layout="row" layout-align="center end" class="layout-align-center-end layout-row">
<div class="value">{{off.price}}</div>
<div class="period">{{off.price_description}}</div>
</div>
</div>

<div class="terms layout-align-start-center layout-column" layout="column" layout-align="start center">
<div class="term">{{off.description}}</div>
</div>

<button ng-click="subscriptions.select(off)" ng-disabled="updating" ng-hide="subscriptions.selected.id == off.id"  class="cta-button md-raised md-accent md-button md-default-theme md-ink-ripple" type="button"><span class="ng-scope">SELECT</span></button>
<button ng-disabled="subscriptions.selected.id == off.id" ng-show="subscriptions.selected.id == off.id"  class="cta-button md-raised md-accent md-button md-default-theme md-ink-ripple" type="button"><span class="ng-scope">SELECTED</span></button>
<div class="note">{{off.footer}}</div>
</div>
</div>

<div ng-show="subscriptions.selected">
Select Me
</div>

</md-dialog-content>

</form>
</md-dialog>
<!-- / DIALOG -->

<div id="offerSelectModal" tabindex="-1" role="dialog" aria-labelledby="offerSelectModalLabel" class="modal modal-lg fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 id="offerSelectModalLabel"><span ng-hide="vm.offers.length && !vm.loading">There are no Subscription packages available right now!</span><span ng-hide="vm.offers.length || !vm.loading"><i class="fa fa-spin fa-spinner"></i>You will be presented with your Subscription options shortly...</span></h3>
			</div>
			<div ng-show="vm.offers.length" class="modal-body">
				<div ng-class="{'panel-primary': off.id == subscriptions.selected.id}" ng-repeat="off in vm.offers" class="panel col-sm-3 panel-default">
					<div class="panel-heading">
						<h4>{{off.name}}</h4>
					</div>
					<div class="panel-body">{{off.description}}</div>
					<div class="panel-footer">
						<button type="button" ng-click="subscriptions.select(off)" ng-disabled="updating" ng-hide="subscriptions.selected.id == off.id" class="btn btn-sm btn-primary">Select</button><span ng-show="subscriptions.selected.id == off.id">Selected</span>
					</div>
				</div>
				<hr/>
				<div ng-hide="subscriptions.selected == null" class="panel col-sm-12 panel-default">
					<div class="panel-heading">
						<h3>Enter Payment Information</h3>
					</div>
					<div class="panel-body">
						<form id="checkout" method="post" ng-submit="enterPaymentMethodValues.submit()">
						<div id="payment-form"></div>
						<input type="submit" value="{{enterPaymentMethodValues.submitText}}" ng-show="currentPaymentMethod == null"/>
						</form>
					</div>
				</div>
				<hr/>
				<form ng-hide="subscriptions.selected == null || currentPaymentMethod==null" ng-submit="subscriptions.finalize()" class="panel col-sm-12 panel-default">
					<div class="panel-heading">
						<h4>Terms &amp; Conditions</h4>
					</div>
					<div class="panel-body">
						<div class="checkbox">
							<label>
								<input type="checkbox" value="1" ng-model="subscriptions.agreeToTerms"/>I agree to Checklink&apos;s<a href="/terms.php" target="_blank">Terms &amp; Conditions</a>
							</label>
						</div>
					</div>
					<div class="panel-footer">
						<button type="submit" ng-disabled="subscriptions.finalizing"><span ng-hide="subscriptions.finalizing">Subscribe</span><span ng-show="subscriptions.finalizing"><i class="fa fa-spin fa-spinner"> </i> Finalizing Subscription...</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>