<table class="simple row-border hover bordered-table" cellpadding="0" cellspacing="0" ng-show="!vm.closeList">
        <tbody ng-repeat="items in vm.messages">
            <tr>
                <td>
                    <i class="fa fa-plus-circle s18" ng-click="myvalue2 = myvalue2 == true ? false : true;"
                        aria-hidden="true" ng-show="!myvalue2"></i>
                    <i class="fa fa-minus-circle s18" ng-click="myvalue2 = myvalue2 == true ? false : true;"
                        aria-hidden="true" ng-show="myvalue2"></i>
                    <span
                        class="breadcrumcolor pointer capitalize">{{items.breadcrumbs.project_name ? items.breadcrumbs.project_name : 'Project is missing'}}–
                        {{items.breadcrumbs.folder_name ? items.breadcrumbs.folder_name : 'Workflow is missing'}} –
                        {{items.breadcrumbs.checklist_name ? items.breadcrumbs.checklist_name : 'checklist is missing'}}</span>

                </td>
            </tr>

            <tr ng-show="myvalue2" ng-repeat="conversion in  items.conversions">
                <td>
                    <div layout="row">
                        <div class="column">
                            <span class="headingcolor">{{conversion.user_full_name}}
                                {{conversion.organization_name }}</span>
                        </div>
                        <div class="column">
                            <span ng-init="vm.notificationDate(conversion.created_at)"></span>
                            <small class="pl-30"> {{ conversion.created_at | datetime }}</small>
                            <a href="{{conversion.image}}" target="_blank" ng-show="conversion.image">
                                <i class="fa fa-paperclip s18 pl-10"></i>
                            </a>
                        </div>
                    </div>

                    <p class="message">
                        <i class="fa fa-chevron-up" ng-click="myvalue = myvalue == true ? false : true;"
                            aria-hidden="true" ng-show="!myvalue"></i>
                        <i class="fa fa-chevron-down" ng-click="myvalue = myvalue == true ? false : true;"
                            aria-hidden="true" ng-show="myvalue"></i>
                        <span>
                            {{conversion.post}}
                        </span>
                        <div ng-show="myvalue">
                            <form name="mesageForm" class="md-inline-form" novalidate>
                                <div layout="row">
                                    <div layout="column">
                                        <div class="upload-btn-wrapper">
                                            <button class="btn">
                                                <img src="/assets/images/logos/attach.png"
                                                    style="vertical-align:bottom;">
                                            </button>
                                            <input onchange="angular.element(this).scope().setFile(this)"
                                                file-model="{{'myFile' + conversion.fdi_feed_item_id + $index}}"
                                                id="{{'myFile' + conversion.fdi_feed_item_id + $index}}"
                                                alt="Attach file" multiple ng-model="vm.file" type="file"
                                                name="myfile" />


                                        </div>
                                    </div>
                                    <div layout="column" flex=75>
                                        <textarea nput name="message_name" ng-model="message_name" required
                                            id="text{{conversion.fdi_feed_item_id}}{{$index}}" type="text"
                                            class="textmessage"></textarea>

                                        <div ng-messages="mesageForm.message_name.$error"
                                            ng-show="mesageForm.message_name.$touched" role="alert">
                                            <div ng-message="required">
                                                <span class="danger">Message field is required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="column" flex=10>
                                        <md-button ng-disabled="mesageForm.$invalid || mesageForm.$pristine"
                                            class="icon-button text-left"
                                            ng-click="vm.submitMessage(conversion, $index, 'myFile' + conversion.fdi_feed_item_id + $index)">
                                            <img alt="send" class="send" ng-if="!vm.spinner"
                                                src="/assets/icons/send.png">
                                            <i class="fa fa-spinner fa-spin" ng-if="vm.spinner"
                                                style="font-size:24px"></i>

                                        </md-button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <div layout="row" ng-if="!vm.messages">
            <h2 class="pl-30 pt-20">No message created yet</h2>
        </div>
    
 