<!-- GROUP LIST ITEMS -->
<div class="todo-items" ng-sortable="vm.sortableOptions" ng-model="vm.groups"
     ng-class="{'sortable': vm.groupOrder === ''}">

  <div class="todo-item" md-ink-ripple layout="row" layout-align="start center"
       ng-repeat="group in vm.groups | orderBy:vm.groupOrder:vm.groupOrderDescending | filter: globalSearch.searchTerm | filter:vm.groupFilters.search track by $index"
       ng-class="{'starred': group.starred, 'selected': group.selected, 'completed': group.completed}">

    <div layout="row" layout-align="start center" flex>

      <div class="info" flex>
        <div class="title">
          <a href="/checklist/{{group.id}}">
            {{group.name}}
          </a>
        </div>
      </div>

      <div class="buttons" layout="row" layout-align="start center">
        <md-menu>
          <md-button ng-click="$mdOpenMenu($event)"
                     class="md-icon-button" aria-label="More" translate
                     translate-attr-aria-label="GROUP.MORE">
            <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
          </md-button>

          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="vm.deleteGroup(group, $event)" aria-label="Delete Group"
                         translate-attr-aria-label="GROUP.DELETE_GROUP">
                <md-icon class="red-600-fg s18"
                         md-font-icon="icon-trash"></md-icon>
                <span translate="GROUP.DELETE_GROUP">Delete Group</span>
              </md-button>
            </md-menu-item>


            <md-menu-item>
              <md-button ng-click="vm.openGroupDialog($event, group)" aria-label="Edit Group"
                         translate-attr-aria-label="GROUP.EDIT_GROUP">
                <md-icon class="md-accent-fg s18"
                         md-font-icon="icon-pencil"></md-icon>
                <span translate="GROUP.EDIT_GROUP">Edit Group</span>
              </md-button>
            </md-menu-item>

            <md-menu-item ng-show="permissions.has('inviteToChecklist')">
              <md-button ng-click="vm.sendLinkRequestDialog($event, group)" aria-label="Send Link Request"
                         translate-attr-aria-label="GROUP.SEND_LINK_REQUEST">
                <md-icon class="md-accent-fg s18"
                         md-font-icon="icon-account-plus" class="s18"></md-icon>
                <span translate="GROUP.SEND_LINK_REQUEST">Send Link Request</span>
              </md-button>
            </md-menu-item>

            <md-menu-item ng-show="permissions.has('publishTemplate')">
              <md-button ng-click="vm.publishTemplateDialog($event, group.id, group.name)"
                         aria-label="Publish as Template"
                         translate-attr-aria-label="GROUP.PUBLISH_TEMPLATE">
                <md-icon class="md-accent-fg s18"
                         md-font-icon="icon-cloud-upload"></md-icon>
                <span translate="GROUP.PUBLISH_TEMPLATE">Publish as Template</span>
              </md-button>
            </md-menu-item>

            <md-menu-item ng-show="">
              <md-button ng-click="vm.linkExistingDialog($event, group)" aria-label="Link to Existing"
                         translate-attr-aria-label="GROUP.LINK_EXISTING">
                <md-icon class="md-accent-fg s18"
                         md-font-icon="icon-link-variant"></md-icon>
                <span translate="GROUP.LINK_EXISTING">Link to Existing</span>
              </md-button>
            </md-menu-item>

            <md-divider class="md-default-theme"></md-divider>

            <md-menu-item>
              <md-button ng-click="vm.addGroupDialog($event)" aria-label="Add New Group"
                         translate-attr-aria-label="GROUP.ADD_NEW_GROUP">
                <md-icon class="md-accent-fg s18"
                         md-font-icon="icon-plus"></md-icon>
                <span translate="GROUP.ADD_NEW_GROUP">Add New Group</span>
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </div>


  <div class="todo-item"
       md-ink-ripple layout="row" layout-align="start center"
       ng-if="!vm.groups.length">

    <div layout="row" layout-align="start center" flex>

      <div class="info" flex>
        <div class="title">
          There are no folders in this project
        </div>
      </div>

      <div class="buttons" layout="row" layout-align="start center">
        <md-menu>
          <md-button ng-click="$mdOpenMenu($event)"
                     class="md-icon-button" aria-label="More" translate
                     translate-attr-aria-label="GROUP.MORE">
            <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
          </md-button>

          <md-menu-content width="3">

            <md-menu-item>
              <md-button ng-click="vm.addGroupDialog($event)" aria-label="Add New Group"
                         translate-attr-aria-label="GROUP.ADD_NEW_GROUP">
                <md-icon class="md-accent-fg s18"
                         md-font-icon="icon-plus-circle-outline"></md-icon>
                <span translate="GROUP.ADD_NEW_GROUP">Add New Folder</span>
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </div>

</div>
<!-- / GROUP ITEMS -->
