<!-- calendar individual starts -->
<div ng-if="vm.selectedView=='Calendar' && vm.selectedModeOfView == 'Individual'" class="form-wrapper  md-whiteframe-1dp flex pt-10">
  <div calendar="myCalendar" ui-calendar="uiConfig.calendar" ng-model="calendarIndividualevents"></div>
</div>
<!-- calendar individual ends -->


<!-- calendar team starts -->
<div ng-if="vm.selectedView=='Calendar' && vm.selectedModeOfView == 'Team'" class="form-wrapper  md-whiteframe-1dp flex pt-10">
  <div calendar="myCalendar" ui-calendar="uiConfig.calendar" ng-model="calendarTeamevents"></div>
</div>
<!-- calendar team ends -->


<!-- Gantt individual starts -->
<!-- when atleat one row is found in Gantt Individual start-->
<div ng-if="vm.selectedView=='Gantt' && vm.selectedModeOfView == 'Individual' && ganttIndividualData.length" layout="column" class="p-20">

  <div gantt api="gantt_options.api" column-width="gantt_options.columnWidth" max-height="1000" data="ganttIndividualData"
    from-date="gantt_options.fromDate" to-date="gantt_options.toDate" view-scale="gantt_options.scale">
    <!-- <gantt-labels enabled="false" header="Process"></gantt-labels> -->
    <gantt-tree ></gantt-tree>

    <gantt-table columns=gantt_options.columns headers=gantt_options.columnsHeaders
      formatters=gantt_options.columnsFormatters></gantt-table>
    <gantt-tooltips delay=200></gantt-tooltips>

  </div>
</div>
<!-- when atleat one row is found in Gantt Individual start-->

<!-- when no row is found in Gantt Individual start-->
<div ng-if="vm.selectedView=='Gantt' && vm.selectedModeOfView == 'Individual' && !ganttIndividualData.length" layout="column" class="p-20">

  <div  class="info" flex>
    <div class="title">
      No row created yet.
    </div>
    
  </div>
</div>
<!-- when no row is found in Gantt Individual end-->
<!-- Gantt individual ends -->


<!-- Gantt team starts -->
<div ng-if="vm.selectedView=='Gantt' && vm.selectedModeOfView == 'Team'" layout="column" class="p-20">
  <div gantt api="gantt_options.api" column-width="gantt_options.columnWidth" max-height="1000" data="ganttTeamData"
    from-date="gantt_options.fromDate" to-date="gantt_options.toDate" view-scale="gantt_options.scale">
    <gantt-tree></gantt-tree>

    <gantt-table columns=gantt_options.columns headers=gantt_options.columnsHeaders
      formatters=gantt_options.columnsFormatters></gantt-table>
    <gantt-tooltips delay=200></gantt-tooltips>

  </div>
</div>
<!-- Gantt team ends -->