<!-- DIALOG -->
<md-dialog class="dialog" aria-label="New Task">

    <form name="contactForm" class="md-inline-form" ng-disabled="vm.searching" ng-submit="vm.queryContacts(vm.findContacts.criteria)">

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-hue-2 md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">Add New Contact</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                    translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <md-input-container class="md-icon-float md-block">
                <label translate="CONTACTS.SEARCH_CONTACTS_NAME">Search by Contact Name </label>
                <input ng-model="vm.findContacts.criteria.name" type="text" required>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label translate="CONTACTS.SEARCH_CONTACTS_ORGANIZATION">Search</label>
                <input ng-model="vm.findContacts.criteria.organization" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label translate="CONTACTS.SEARCH_CONTACTS_CITY">Search</label>
                <input ng-model="vm.findContacts.criteria.city" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label translate="CONTACTS.SEARCH_CONTACTS_STATE">Search</label>
                <input ng-model="vm.findContacts.criteria.state" type="text">
            </md-input-container>
            <h6 ng-if="vm.findContactsMessage!=true">No record found try another search criteria</h6>
        </md-dialog-content>
        <!-- / DIALOG CONTENT -->
        <md-dialog-content ms-scroll ng-show="vm.findContacts.results.length">
            <table class="simple bordered-table" ms-responsive-table>
                <thead>
                    <tr>

                        <th></th>
                        <th>Name</th>
                        <th>Organization</th>
                        <th>City</th>
                        <th>State</th>
                        <!--<th>Email Address</th>-->
                        <th class="text-right">&nbsp;</th>
                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="res in  vm.findContacts.results">
                        <td>
                            <md-button ng-show="vm.isMessage" class="icon-button" aria-label="Invite" ng-click="vm.sendToggle(res, 'send')">
                                <i class="fa fa-plus-circle s18 link-color" aria-hidden="true"></i>
                            </md-button>
                            <md-button ng-show="!vm.isMessage" class="icon-button" aria-label="Invite" ng-click="vm.sendToggle(res, 'close')">
                                <i class="fa fa-times s18" aria-hidden="true"></i>
                            </md-button>

                        </td>
                        <td class="salary">{{res.name.full}}</td>
                        <td class="name">{{res.organization}}</td>
                        <td class="salary">{{res.city}}</td>
                        <td class="salary">{{res.state}}</td>
                        <!--<td class="name">{{res.email}}</td>-->
                        <td class="text-right">


                            <!-- <md-button ng-if="vm.friendshipStatus(res.id) == 'Friend'"
                                     class="icon-button"
                                     aria-label="Linked"
                                     ng-click="vm.removeConnectionInvitation(res.id)">
                            <md-icon md-font-icon="icon-google-circles" class="md-accent-fg s18"></md-icon>
                          </md-button>



                          <md-button ng-if="vm.friendshipStatus(res.id) == 'Sent'"
                                     class="icon-button"
                                     aria-label="Linked"
                                     ng-click="vm.removeConnectionInvitation(res.id)">
                            <md-icon md-font-icon="icon-google-circles" class="md-accent-fg s18"></md-icon>
                          </md-button> -->

                            <md-button class="icon-button" aria-label="Invite" ng-click="vm.inviteToConnect(res.id)"
                                ng-disabled="vm.link.requesting">
                                <md-icon md-font-icon="icon-google-circles-invite" class="md-accent-fg s18"></md-icon>
                            </md-button>


                        </td>
                    </tr>
                    <tr ng-show="!vm.isMessage" id="anchor">
                        <td colspan="6">
                            <input style="border:1px solid #3373c7;width: 90%; height: 25px;" ng-model="vm.message"
                                type="text">
                            <md-button class="icon-button" ng-click="vm.inviteToConnect(vm.itemId)" aria-label="Invite"
                                ng-click="vm.inviteToConnect(res.id)">
                                <!-- <i class="fa fa-share-square s18 link-color"  aria-hidden="true"></i> -->
                                <img alt="send" class="send" ng-if="!vm.spinner" src="/assets/icons/send.png">
                                <i class="fa fa-spinner fa-spin" ng-if="vm.spinner" style="font-size:24px"></i>

                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </md-dialog-content>

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!vm.spinner" class="md-accent md-button md-raised ng-scope md-ink-ripple md-default-theme submit-button"
                    aria-label="SEARCH" ng-disabled="vm.searching">
                    SEARCH
                </md-button>
            </div>


        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>
</md-dialog>
<!-- / DIALOG -->