<div class="simple-table-container md-background-bg md-whiteframe-1dp pt-30">


  <div ng-if="!vm.notificationLength" class="info" flex>
    <div class="title m-10">
      No Notifications found.
    </div>
  </div>

  <table ng-if="vm.notificationLength" class="simple row-border hover bordered-table" cellpadding="0" cellspacing="0" ng-show="!vm.closeList">
    <thead class="tool-bg">
      <tr>
        <th class="max-10" height="50" width="20%">Projects
          <md-button class="md-icon-button" ng-click="vm.sortBy('file.label')" aria-label="Sort Direction" translate
            translate-attr-aria-label="GROUP.SORT_DIRECTION">
            <!-- <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.attachmentOrder!='file.label'" class="s18"></md-icon>
            <md-icon md-font-icon="icon-sort-ascending" ng-show="vm.reverse  && vm.attachmentOrder=='file.label'" class="s18"></md-icon>
            <md-icon md-font-icon="icon-sort-descending" ng-show="!vm.reverse  && vm.attachmentOrder=='file.label'"
               class="s18"></md-icon> -->
          </md-button>

        </th>
        <th width="10%">Checklist Changes 
        </th>
        <th width="10%">User Changes</th>
        <th>Marked Complete</th>
      </tr>
    </thead>
  
    <tbody ng-repeat="(key, notification) in  vm.notifications "> 
      <tr ng-class="notification.count_unread_total ? 'unread':'' ">
     
      
        <td class="max-10"><span class="link-color pointer"  ng-click="vm.projectList(notification.list, notification.project_name,key);">
          {{notification.project_name}}
       
        </span></td>
       
      
        <td><span ng-init="vm.totUsers(notification[0])"></span> {{notification.count_unread_total}}</td>
        <td>{{notification.user_changes ? notification.user_changes : 0 }}</td>
        <td>{{notification.flag_complete ? notification.flag_complete : 0 }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Project List-->
  <table class="simple row-border hover bordered-table list" cellpadding="0" cellspacing="0" ng-if="vm.projectlists &&  vm.closeList">
    <thead>
      <tr>
        <th  height="50" width="50%">
           <span class="link-color"> {{ vm.projectlists}} </span>
           </span>
        </th>
        <th width="50%" colspan="4">
            <md-button class="md-icon-button flex-end pull-right" ng-click="vm.notificationList()">
            <md-icon md-font-icon="icon-sort-ascending" class="fa fa-times-circle danger"></md-icon>
        
            </md-button>
        </th>
      
      </tr>

      <tr>
          <th class="max-10" height="50" width="25%">Checklist
          </th>
          <th width="15%">User
          </th>
          <th width="15%">Organization</th>
          <th> Issue</th>
          <th width="15%">Date</th>
        </tr>
    </thead>

    <tbody ng-repeat="projectlist in  vm.checklistDetail| filter: globalSearch.searchTerm" ng-click="vm.projectDetail(projectlist)">
      <tr ng-class="myvalue ? 'rbb' : '' "   class="{{!projectlist.read_by && !myvalue ? 'unread' : ''}}">
        <td >
       
          <i class="fa fa-chevron-up" ng-click="myvalue = myvalue == true ? false : true; vm.readNotification(projectlist)" aria-hidden="true" ng-show="!myvalue"></i>
          <i class="fa fa-chevron-down" ng-click="myvalue = myvalue == true ? false : true;" aria-hidden="true" ng-show="myvalue"></i>
          <span class="link-color">    {{ projectlist.checklist_name}}</span></td>
        <td><span class="link-color">{{projectlist.user}} </span></td>
        <td><span class="link-color">{{projectlist.organization}}</span></td>
        <td>{{projectlist.issue}}</td>
        <td>
          <!-- <span ng-init="vm.notificationDate(projectlist.updated_at.date)"></span> -->
         <span ng-bind='projectlist.create_date * 1000 | date: "EEE, MMM d, yyyy h:mm a"'></span> 
        </td>
      </tr>
      <tr ng-show="myvalue">
          <td colspan="5">{{projectlist.description}}</td>
          </tr>
    </tbody>
  </table>

</div>