<div class="form-wrapper md-whiteframe-1dp flex" id="stats">
    <table class="bordered-table" cellpadding="0" cellspacing="0">
     <thead>
      <tr>
        <th  class="text-center max-10" height="50">Project</th>
        <th  class="text-center">Checklist Changes</th>
        <th  class="text-center">User  Changes</th>
        <th  class="text-center">Marked Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stat in [1,2,3,4,5,6]"  class="text-center">
        
        <td class="max-10">135</td>
        <td >2</td>
        <td>3</td>
        <td>4</td>
      </tr>
     
        
    </tbody>
  </table>
  
  </div>
  