<md-toolbar class="bg-white navigation-header md-whiteframe-1dp" layout="row" layout-align="center center" ng-show="userSignupComplete()">
   
    <!--<img alt="Checklinked Logo" style="height:30px;" class="admin-logo" src="/assets/images/logos/small-logo.jpg">-->
    <img alt="Checklinked Logo" class="admin-logo full-logo" src="/assets/images/logos/checklinked.png">

   <!-- <md-icon class="fold-toggle s18" md-font-icon="icon-backburger" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>

   -->


<i class="material-icons custm-toggle" style="color:black;" hide show-gt-sm ng-click="vm.toggleMsNavigationFolded()">
    menu
</i>
</md-toolbar>

<ms-navigation  > </ms-navigation>
