<div layout="row" flex>
  <md-input-container flex="70">
    <md-select ng-model="vm.verticalStepper.step2.groupID" name="groupID"
               placeholder="Select Existing  Workflow" required>
      <md-option ng-repeat="group in vm.groups" value="{{group.id}}"
                 ng-selected="group.id == vm.verticalStepper.newGroupID">
        {{group.name}}
      </md-option>
    </md-select>
    <div ng-messages="vm.verticalStepper.step2.groupID.$error"
         role="alert">
      <div ng-message="required">
        <span>Folder is required.</span>
      </div>
    </div>
  </md-input-container>

  <md-input-container flex="30" layout="row" layout-align="center center">

    <md-button class="md-raised md-accent"
               ng-click="vm.openGroupInput()"
               aria-label="Create New Folder" > NEW WORKFLOW
    </md-button>

  </md-input-container>

</div>
