<div class="demo-content">
<form name="form" ng-disabled='vm.update.sending' class="md-inline-form" ng-submit="vm.update.send()" novalidate>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="text" name="first" ng-model="vm.update.info.name.first" placeholder="First Name"
                                   required>
                            <div ng-messages="form.first.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>First Name is required.</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <input type="text" name="last" ng-model="vm.update.info.name.last" placeholder="Last Name"
                                   required>
                            <div ng-messages="form.last.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Last Name is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    
                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
							<input type="email" name="email" ng-model="vm.update.info.email" placeholder="Email"
								   ng-pattern="/^.+@.+\..+$/" required>
							<div ng-messages="form.email.$error"
								 role="alert" multiple="multiple">
								<div ng-message="required" style="opacity: 1; margin-top: 0px;">
									<span>Email field is required</span>
								</div>
								<div ng-message="pattern" style="opacity: 1; margin-top: 0px;">
									<span>Email must be a valid e-mail address</span>
								</div>
							</div>
						</md-input-container>

                        <md-input-container flex>
                            <input type="text" name="phone" ng-model="vm.update.info.phone" placeholder="Phone Number">
                        </md-input-container>
                    </div>                    
                    
                    <div layout="column" layout-gt-sm="row">
					<md-checkbox-container flex>
					<md-checkbox aria-label="Notifications" ng-model="vm.update.info.notifications">Phone Notifications</md-checkbox>

					</md-checkbox-container>
                    </div>
                    
                    <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                               ng-disabled="form.$invalid || form.$pristine || vm.update.sending">
                        <span ng-hide='vm.update.sending'>Update</span>
                        <span ng-show='vm.update.sending'>Updating...</span>
                    </md-button>
                </form>

</div>