/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

md-accent-bg{
    background-color: #282D38 !important;
}
md-tabs-wrapper{
    background-color:#f5f5f5  !important; 
      color:#fff !important;
}
md-tab-data{
        background-color:black !important; 
        color:#fff !important;
}
.tool-bg{
    background-color: rgb(245, 245, 245) !important;
}
.tb-border{
    border-bottom:1px solid rgba(0,0,0,0.12) !important;
}

.subtab .md-tab.md-active{
    border-bottom:none !important;
}
.danger{
    color:#f24141;
}
.success{
    color:green;
}
.black{
    color:black !important;
}

#vertical-navigation {
    background-color:black;
    width: 185px;
    min-width: 185px;
    max-width: 185px;
}

.link-color{
  color:#3373c7;
}
.black{
    color:black;
}
.capitalize{
    text-transform: capitalize;
}
.max-10{
    max-width: 10% !important
}
.pointer {
    cursor: pointer !important;
 }

md-progress-circular.ng-isolate-scope._md-mode-indeterminate.md-default-theme {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

md-progress-circular.ng-isolate-scope._md-mode-indeterminate.md-default-theme svg path {
    color: #fff;
    stroke: rgb(255, 255, 255);
}
md-tabs-canvas{
        height: 40px !important;
}
.md-tab{
   color:#fff !important;
   font-size: 10px;
}
// .md-accent{
//     background-color: black;
// }
.bd-loader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 71;
}
/*.ms-navigation .ms-navigation-node .ms-navigation-item > .ms-navigation-button {
    display:initial !important;
}
*/

.page-layout.simple.tabbed > .content > md-tabs > md-tabs-content-wrapper > md-tab-content {
 padding: 0px;
}
.pt5{
    padding-top:5px;
}
.notactive{
        color:#afa7a7 !important;
        text-transform:capitalize !important;
}
.active{
    color:#fff !important;
}

.terms {
        font-size: 13px;
        margin: 16px 0 15px 0;

        a {
            margin-left: 4px;
        }
    }
.bb{
    font-weight: bold !important;;
    color:black !important;;
}
.blue{
    color:#50dbfe;
    font-size: 13px;
}
.white{
    color: #fff !important;
      font-size: 12px !important;
}
md-pagination-wrapper a.link.org, md-pagination-wrapper md-tab-item.md-active {
    font-size: 13px;
}


//Design by designer 30-11-2018

// md-pagination-wrapper > md-tab-item:first-child {
//     padding-left: 0 !important;
// }
md-pagination-wrapper {
    width: auto !important;
}
md-pagination-wrapper {
    width: auto !important;
}

.bordered-table tbody td, .bordered-table thead th {
    padding-left: 20px !important;
}
.md-whiteframe-4dp, .md-whiteframe-z2 {
    box-shadow: none;
    border: 1px solid #000;
}

md-menu-content.md-default-theme {
    padding: 0;
}
small {
    font-size: 11px;
    color: #999;
}
.check-label .s18{
    padding: 0px !important

}
.pl-15{
    padding-left:15px;
}
.mh-0{
    min-height: auto !important;
}
.mr-9 {
    margin-right: 9px;
}
#vertical-navigation ms-navigation.ms-navigation {
    margin-top: 22px;
} 
.plus{
    color:#3a58fe;
} 
.textcolor{
    color:#4472c4;
} 
.sidenext{
    display: none;
}
.nav-fixed-top {
    position: fixed;
    z-index: 70;
    width: 100%;
    top: 48px;
}

.nav-fixed-top * {
    text-transform: capitalize;
}

.topbar-nav {
    background: #000;
}

.topbar-nav button {
   // color: #fff !important;
    text-transform: capitalize;
    font-size: 12px;
    margin: 0;
}
.topbar-nav .md-button {
 line-height: 20px !important;
}


.topbar-nav {
    display: flex;
    justify-content: flex-start;
}

#vertical-navigation .ms-navigation-button {
    background-color: #000 !important;
    opacity: 0.6;
}

#vertical-navigation .md-accent-bg {
    background-color: #000 !important;
    opacity: 1;
}
.subtab md-tabs-wrapper {
  //  background: none !important;
}
pt-37{
    padding-top:37px !important;
}

.subtab md-tabs-wrapper * {
    font-size: 13px !important;
    color: #333;
    text-transform: capitalize;
}

.subtab md-tabs-wrapper md-pagination-wrapper {
    width: 100% !important;
}

.subtab md-tabs-wrapper md-pagination-wrapper md-tab-item:nth-child(2) {
    float: right !important;
    margin-right: 30px;
}

.side-toggle {
    display: block !important;
    margin-left: auto;
    padding: 0;
    padding-right: 30px;
    margin-top: 8px;
    font-size: 20px !important;
    color: #fff !important;
}
md-sidenav#vertical-navigation {
    margin-top: 48px !important;
}
.logo-icon{
    height: 35px !important;
margin-right: 8px;
}
.logo-holder {
    position: fixed;
    left: 20px;
}
.md-tab{
    font-size: 13px !important;
}
.flex-1{
    flex: 1;
}
    .active, .notactive span{
        text-transform:capitalize !important;
    }

    .support-top-button {
    position: fixed;
    right: 0;
    top: 48px;
    height: 37px;
    margin: 0 !important;
    padding: 0 !important;
    padding-left:30px !important;
}

.support-top-button * {
    padding: 0 !important;
    margin: 0 !important;
}
.md-tab.md-active{
    border-bottom:1px solid #517cc6  !important
}

md-menu-item > .md-button{
    font-size: 13px !important;
}
md-menu-item {
    height: 36px !important;
    min-height: 36px !important;
}

md-icon[md-font-icon].s18, i.s18 {
    font-size: 15px !important;
    line-height: 20px !important;
    margin-right: 0;
}
.username {
    font-size: 13px !important;
    font-weight: 500 !important;
    color: rgb(65,110,163);
    text-transform: capitalize;
}

.username + .fa {
    line-height: 22px;
    font-size: 16px !important;
    color: rgb(65,110,163);
}
.user-menu {
    md-icon{
        font-size: 15px !important;
        line-height: 20px !important;
        margin-right: 0;
        color:rgb(65,110,163) !important;
        padding-right: 2px !important;


}
span{
    font-size: 13px;
}
.md-menu > .md-button{
    padding-left:15px !important;
}
}
// .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover, .md-menu._md-open > .md-button {
//     background-color: rgba(158,158,158,0.1) !important;
// }
 
md-radio-button ._md-off, md-radio-button ._md-on, md-checkbox ._md-icon{
    width: 14px;
    height: 14px;
}
form {
    font-size: 13px;
}
  
md-radio-button ._md-label {
    margin-left: 20px;
    margin-right: 20px;
}
md-checkbox ._md-icon {   
    top: 2px;
}
md-checkbox.md-checked ._md-icon:after {
    left: 4.66667px;
    top: 2.22222px;
    width: 5.66667px;
    height: 8.33333px;
}
md-checkbox ._md-label{
    margin-left: 25px;
}
.link{
    text-transform: capitalize !important;
    color:#4572C0 !important;
}
.text-initial{
    text-transform: initial !important;
}
.pull-right{
    float: right; 
}
.toast-warning{
    background-color:#d30000 !important;
}
.md-tab.md-active span {
    color: #517cc6 !important;
}
md-pagination-wrapper{
    height: 40px !important;
}

#alert-message{
    md-toolbar {
        min-height: 30px !important;
        max-height: 30px !important;
    }  
    .md-dialog-content {
        padding:0px !important;
    } 
    #dialogContent_alert-message{
        padding: 0px 16px 0px 20px !important;
    }
    .md-button span {
        text-transform: capitalize !important;
    }
    .md-button{
        min-width: 40px !important;
    }
 
}