/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

md-accent-bg{
    background-color: #282D38 !important;
}
md-tabs-wrapper{
    background-color:black !important; 
      color:#fff !important;
}
md-tab-data{
        background-color:black !important; 
        color:#fff !important;
}

[md-theme="default"] .md-accent-bg {
    background-color: #282D38;
    color: rgba(255,255,255,1);
}