<!-- CHAT APP -->


        <page-toolbar datas="vm.submenu"> </page-toolbar>


<div id="chat-app" class="page-layout carded fullwidth pt-45">

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg md-accent-bgtop-bg"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card" layout="row" flex>

            <!-- LEFT SIDENAV -->
            <md-sidenav class="sidenav left-sidenav md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')"
                        md-component-id="left-sidenav"
                        ms-sidenav-helper data-ng-include="'app/main/chat/sidenavs/left/left-sidenav.html'"
                        layout="column">
            </md-sidenav>

            <!-- START -->
            <div class="start-point" data-ng-if="!vm.chat" flex layout="column" flex layout-align="center center">

                <!-- <div class="big-circle md-whiteframe-4dp">
                    <md-icon class="s128 md-accent" md-font-icon="icon-hangouts"></md-icon>
                </div> -->

                <!-- <span class="app-title" translate="CHAT.APP_TITLE">Messaging</span> -->

                <!-- <span class="hide show-gt-md secondary-text" translate="CHAT.START_MESSAGE">Select contact to start the
                    chat!..</span> -->
                <md-button class="md-raised hide-gt-md" data-ng-click="vm.toggleSidenav('left-sidenav')"
                           translate="CHAT.START_MESSAGE">
                    Select contact to start the chat!..
                </md-button>

            </div>
            <!-- / START -->

            <!-- CHAT -->
            <div data-ng-if="vm.chat" class="chat" layout="column" flex>

                <!-- CHAT TOOLBAR -->
                <md-toolbar class="chat-toolbar">

                    <div class="md-toolbar-tools">

                        <!-- RESPONSIVE CHATS BUTTON-->
                        <md-button class="hide-gt-md responsive-chats-button md-icon-button"
                                   data-ng-click="vm.toggleLeftSidenavView(false);vm.toggleSidenav('left-sidenav')"
                                   aria-label="chats button">
                            <md-icon md-font-icon="icon-hangouts s36"></md-icon>
                        </md-button>
                        <!-- / RESPONSIVE CHATS BUTTON-->

                        <!-- CHAT CONTACT-->
                        <div class="chat-contact" layout="row" layout-align="start center"
                             data-ng-click="vm.toggleSidenav('right-sidenav')">

                            <div class="avatar-wrapper">

                                <!-- <img src="assets/images/avatars/profile.jpg"
                                     class="avatar" alt="{{vm.contacts.getById(vm.chatContactId).name}}"/> -->

                                <i class="icon icon- s16 status"
                                   data-ng-class="online">
                                </i>

                            </div>

                            <div class="chat-contact-name">
                                {{vm.viewingConversation.nameFull}}
                            </div>

                        </div>
                        <!-- / CHAT CONTACT-->

                        <md-menu md-position-mode="target-right target">

                            <md-button class="md-icon-button" data-ng-click="$mdOpenMenu()"
                                       aria-label="more">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button data-ng-click="vm.toggleSidenav('right-sidenav')" translate="CHAT.CONTACT_INFO">
                                        Contact Info
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button data-ng-click="vm.clearMessages()" translate="CHAT.CLEAR_MESSAGES">
                                        Clear Messages
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>

                        </md-menu>

                    </div>
                </md-toolbar>
                <!-- / CHAT TOOLBAR -->

                <!-- CHAT CONTENT -->
                <md-content id="chat-content" flex ms-scroll>

                    <!-- CHAT MESSAGES -->
                    <div class="chat-messages" data-ng-if="vm.chat">

                        <!-- MESSAGE -->
                        <div layout="row" data-ng-repeat="dialog in vm.chat | orderBy:'-timestamp':true" class="md-padding message-row"
                             data-ng-class="dialog.who">

                            <!-- <img src="assets/images/avatars/profile.jpg"
                                 class="avatar"
                                 alt="{{dialog.user}}"/> -->

                            

                            <div class="bubble">
                                <div class="message">{{dialog.text}}</div>
                                <div class="time secondary-text">{{ dialog.timestamp * 1000 | date : "medium" }}</div>
                            </div>

                        </div>
                        <!-- / MESSAGE -->

                    </div>
                    <!-- CHAT MESSAGES -->

                </md-content>
                <!-- / CHAT CONTENT -->

                <!-- CHAT FOOTER -->
                <div class="chat-footer flex-noshrink" layout="row" layout-align="center center">

                    <!-- REPLY FORM -->
                    <form data-ng-submit="vm.reply()" flex class="reply-form" layout="row" layout-align="start center">

                        <md-input-container flex md-no-float>
         
                            <input type="text" data-ng-model="vm.replyMessage">
                        </md-input-container>

                        <md-button class="md-fab" type="submit" aria-label="Send message" translate
                                   translate-attr-aria-label="CHAT.SEND_MESSAGE">
                            <md-icon md-font-icon="icon-send"></md-icon>
                        </md-button>

                    </form>
                    <!-- / REPLY FORM -->

                </div>
                <!-- / CHAT FOOTER-->

            </div>
            <!-- / CHAT -->

            <!-- RIGHT SIDENAV -->
            <md-sidenav class="sidenav right-sidenav md-sidenav-right" layout="column"
                        md-component-id="right-sidenav"
                        ms-sidenav-helper data-ng-include="'app/main/chat/sidenavs/right/right-sidenav.html'">
            </md-sidenav>
            <!-- / RIGHT SIDENAV -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
<!-- / CHAT APP -->