<div class="checklist-item" ng-class="{'conflict':item.nonCompliant || item.conflicts, 'md-green-100-bg':vm.passedNotification.id==item.id}"
  md-ink-ripple layout="row" layout-align="start center">


  <div data-as-sortable-item-handle class="handle" ng-click="vm.preventDefault($event)">
    <md-icon md-font-icon="icon-drag-vertical" class="icon"></md-icon>
  </div>

  <div layout="row" layout-align="start center" flex>

    <div class="info" flex>

      <div class="item" layout="row">

        <div ng-show="vm.isForm(item)" flex="15" layout="row" layout-align="start center">
          <ul class="checkbox-list">
            <li ng-show="vm.isForm(item)">
              <button type="button" ng-click="vm.openFormLineDialog($event, item)" class="checkbox">
                <md-icon class="md-accent-fg s20" md-font-icon="icon-pencil"></md-icon>
              </button>
            </li>
          </ul>
        </div>


        <!-- <div ng-hide="vm.isForm(item)"
               flex="15" layout="row"
               layout-align="start end"> -->
        <div flex="10" layout="row" layout-align="start end">
          <ul class="checkbox-list">
            <li ng-repeat="show in showingUsers track by $index">
              <!-- {{item}} -->

              <!-- <button type="button" ng-click="vm.toggleCheckbox(item,'applies',$index)" ng-disabled="checklist.complete || viewAs.notMe || (show.idCON !== user.idCON)"
                class="checkbox">
                <i ng-hide="item.checkbox[$index].applies" class="icon-checkbox-blank-outline"></i>
                <i ng-show="item.checkbox[$index].applies" class="icon-checkbox-marked-outline"></i>
                <span class="checkboxLabel">{{(show.idCON == user.idCON)?(showingUsers.length>1)?'YOU':'APPLY':show.name}}</span>
              </button> -->
              <!-- <button ng-disabled="checklist.complete || viewAs.notMe || (show.idCON !== item.inviterDetails.idCON)" type="button" ng-click="vm.toggleCheckbox(item,'applies',item.checkbox[$index].item_type,$index)" class="checkbox" ng-show="item.checkbox[$index].item_type !='textbox'"> -->
              <button  ng-disabled="checklist.complete || viewAs.notMe || (show.idCON !== user.idCON)" type="button" ng-click="vm.toggleCheckbox(item,'applies',item.item_typeof,$index)" class="checkbox" ng-show="item.item_typeof !='textbox'">
                <i ng-hide="item.checkbox[$index].applies" class="icon-checkbox-blank-outline"></i>
                <i ng-show="item.checkbox[$index].applies" class="icon-checkbox-marked-outline"></i>
                <!-- <span class="checkboxLabel">{{(show.idCON ==
                  item.inviterDetails.idCON)?(showingUsers.length>1)?'YOU': (item.checkbox[$index].item_type=='yn' ? 'Yes' : 'Req'):show.name}}</span> -->

                  <!-- changed on 13-02-2019 -->
                 <!-- <span class="checkboxLabel">{{(show.idCON ==
                  item.inviterDetails.idCON)?(showingUsers.length>1)?'YOU': (item.item_typeof=='yn' ? 'Yes' : 'Req'):(item.item_typeof=='yn' ? 'Yes' : 'Req') + '(' + show.name + ')' }}</span> -->

                  <span class="checkboxLabel">{{(show.idCON ==
                      showingUsers.idCON)?(showingUsers.length>1)?'YOU': (item.item_typeof=='yn' ? 'Yes' : 'Req'):(item.item_typeof=='yn' ? 'Yes' : 'Req') + '(' + show.name + ')' }}</span>
              </button>

              <!-- <button type="button" ng-click="vm.toggleCheckbox(item,'applies','yn',$index)" class="checkbox" ng-if="item.checkbox[$index].item_type=='yn'">
                  <i ng-hide="item.checkbox[$index].applies" class="icon-checkbox-blank-outline"></i>
                  <i ng-show="item.checkbox[$index].applies" class="icon-checkbox-marked-outline"></i>
                  <span class="checkboxLabel">{{(show.idCON ==
                    item.inviterDetails.idCON)?(showingUsers.length>1)?'YOU':'Yes':show.name}}</span>
                </button> -->

            </li>
          </ul>
        </div>

        <div flex="70" layout="column" layout-align="center start">
          <div ng-class="{'text-bold form-line-question': vm.isForm(item)}" class="item" layout-align="start center"
            layout="row" flex>
            {{item.name}}
             <!-- = {{$index}} -->
          </div>
          <div ng-show="(item.info.length || item.link) && (checklist.showReferences || section.showReferences || heading.showReferences) && !vm.isForm(item)"
            layout="column" class="item" flex>
            <div layout="row" flex >  <sup>{{ item.info !='rrr' ? item.info : 'Reference is not available' }}</sup></div>
            <!-- <div layout="row" flex  ng-bind-html="item.info | sanitize">  <sup>{{ item.info ? item.info : 'Reference is not available' }}</sup>{{ which.showReferences }}</div> -->
          <div layout="row" flex>  <a href="{{item.link}}" target="_blank">{{item.link}}</a>
          </div>

          </div>
          <!-- <div layout="row" class="item" flex> -->

          <!--<input name="name" ng-model="item.info" ng-show="vm.isForm(item)" ng-click="vm.openFormLineDialog($event, item)">-->
          <!-- <span>{{ item.info }}</span> -->


          <!-- </div> -->

          <div ng-show="vm.isForm(item)" layout="row" class="item" flex>

            <!--<input name="name" ng-model="item.info" ng-show="vm.isForm(item)" ng-click="vm.openFormLineDialog($event, item)">-->
            <span>{{ item.info ? item.info : 'Reference is not available'}}</span>


          </div>
        </div>

        <div layout="row" flex="" layout-align="end center">

          <md-icon md-font-icon="icon-paperclip s20 pt-0" class="is-important indicator-icon s18 black" ng-click="vm.openUploadAttachmentDialog($event, 'item', item.id, $index, item.attachments)"
            ng-if="item.attachments.length>0"></md-icon>

          <md-icon md-font-icon="icon-comment-text-outline s20" class="is-important indicator-icon s18" ng-click="vm.openConversationDialog('item', item.id, item.name)"
            ng-if="item.postCount>0">
          </md-icon>
          <!--
            <md-icon md-font-icon="icon-alert-circle s20" class="is-important indicator-icon red-600-fg"
                     ng-if="item.nonCompliant || item.conflicts">
            </md-icon>
            -->
        </div>

        <div ng-hide="vm.isForm(item)" layout="row" layout-align="end center">

          <ul class="checkbox-list">
            <li ng-repeat="show in showingUsers track by $index">

              <!-- <button type="button"
                        ng-click="vm.toggleCheckbox(item,'complies',$index)"
                        ng-disabled="checklist.complete || viewAs.notMe || (show.idCON !== user.idCON)"
                        class="checkbox">
                  <i ng-hide="item.checkbox[$index].complies" class="icon-checkbox-blank-outline"></i>
                  <i ng-show="item.checkbox[$index].complies" class="icon-checkbox-marked-outline"></i>
                  <span class="checkboxLabel">{{(show.idCON == user.idCON)?(showingUsers.length>1)?'YOU':'COMPLY':show.name}}</span>
                </button> -->

              <button  ng-disabled="checklist.complete || viewAs.notMe || (show.idCON !== user.idCON)"  type="button" ng-click="vm.toggleCheckbox(item,'complies',item.item_typeof,$index)" class="checkbox" ng-show="item.item_typeof!='textbox'">
                <i ng-hide="item.checkbox[$index].complies" class="icon-checkbox-blank-outline"></i>
                <i ng-show="item.checkbox[$index].complies" class="icon-checkbox-marked-outline"></i>


              <span class="checkboxLabel">{{(show.idCON ==
                  showingUsers.idCON)?(showingUsers.length>1)?'YOU': (item.item_typeof=='yn' ? 'No' : 'Req'):(item.item_typeof=='yn' ? 'No' : 'Comp') + '(' + show.name + ')' }}</span>
            </button>

              <!-- <button type="button" ng-click="vm.toggleCheckbox(item,'complies','yn',$index)" class="checkbox" ng-if="item.checkbox[$index].item_type=='yn'">
                  <i ng-hide="item.checkbox[$index].complies" class="icon-checkbox-blank-outline"></i>
                  <i ng-show="item.checkbox[$index].complies" class="icon-checkbox-marked-outline"></i>
                  <span class="checkboxLabel">{{(show.idCON ==
                    item.inviterDetails.idCON))?(showingUsers.length>1)?'YOU':'No':show.name}}</span>
                </button> -->
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="buttons" layout="row" layout-align="start center">

      <md-menu>
        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="More" translate
          translate-attr-aria-label="CHECKLIST.MORE">
          <md-icon md-font-icon="icon-dots-vertical" class="s18"></md-icon>
        </md-button>

        <md-menu-content  width="3" class="menu-height">

          <md-menu-item>
            <md-button ng-click="vm.labels.select(item, $event)" aria-label="Add Data Label" translate-attr-aria-label="CHECKLIST.ADD_DATA_POINT">
              <md-icon class="md-accent-fg s18" md-font-icon="icon-label"></md-icon>
              <span translate="CHECKLIST.ADD_DATA_POINT">Add Data Point</span>
            </md-button>
          </md-menu-item>


          <md-menu-item>
            <md-button ng-click="vm.openConversationDialog('item', item.id, item.name)" aria-label="Conversations"
              translate-attr-aria-label="CHECKLIST.CONVOS">
              <md-icon class="md-accent-fg s18" md-font-icon="icon-comment-multipe-outline"></md-icon>
              <span translate="CHECKLIST.CONVOS">Conversations</span>
            </md-button>
          </md-menu-item>

          <md-menu-item ng-hide="vm.isForm(item)">
            <md-button ng-click="vm.openItemDialog($event, item)" aria-label="Edit Checkbox Name"
              translate-attr-aria-label="CHECKLIST.EDIT_CHECKBOX_NAME">
              <md-icon class="md-accent-fg s18" md-font-icon="icon-pencil"></md-icon>
              <span translate="CHECKLIST.EDIT_CHECKBOX_NAME">Edit Name</span>
            </md-button>
          </md-menu-item>

          <md-menu-item ng-show="vm.isForm(item)">
            <md-button ng-click="vm.openFormLineDialog($event, item)" aria-label="Edit Form Line"
              translate-attr-aria-label="CHECKLIST.EDIT_FORM_LINE">
              <md-icon class="md-accent-fg s18" md-font-icon="icon-pencil"></md-icon>
              <span translate="CHECKLIST.EDIT_FORM_LINE">Edit Line</span>
            </md-button>
          </md-menu-item>

         <md-menu-item>
              <md-button ng-click="vm.deleteConfirm('item',item)" aria-label="Delete Item" translate-attr-aria-label="CHECKLIST.DELETE_ITEM">
                <md-icon class="red-600-fg s18" md-font-icon="icon-trash"></md-icon>
                <span translate="CHECKLIST.DELETE_ITEM">Delete Item</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="vm.openUploadAttachmentDialog($event, 'item', item.id, $index, item.attachments)"
                  aria-label="Attachments" translate-attr-aria-label="CHECKLIST.ATTACHMENTS">
                  <md-icon class="md-accent-fg s18" md-font-icon="icon-attachment"></md-icon>
                  <span translate="CHECKLIST.ATTACHMENTS">Attachments</span>
                </md-button>
              </md-menu-item>
          <md-divider class="md-default-theme"></md-divider>

          <md-menu-item>
            <md-button ng-click="vm.cutDialog('item', item.id, item.id_parent)" aria-label="Cut" translate-attr-aria-label="GROUP.CUT">
              <md-icon class="md-accent-fg s18" md-font-icon="fa fa-cut"></md-icon>
              <span translate="GROUP.CUT"></span>
            </md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button ng-click="vm.coypDialog($event, group.id)" aria-label="Copy" translate-attr-aria-label="GROUP.COPY">
              <md-icon class="md-accent-fg s18" md-font-icon="fa fa-clone"></md-icon>
              <span>Copy</span>
            </md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button ng-click="vm.pasteDialog('item', item.id, item.id_parent)" aria-label="Paste" translate-attr-aria-label="GROUP.PASTE">
              <md-icon class="md-accent-fg s18" md-font-icon="fa fa-paste"></md-icon>
              <span translate="GROUP.PASTE"></span>
            </md-button>
          </md-menu-item>

          <md-menu-item ng-if="item.move_item_id" >
            <md-button ng-click="vm.undoDialog(item.move_item_id)" aria-label="Undo" translate-attr-aria-label="GROUP.UNDO">
              <md-icon class="md-accent-fg s18" md-font-icon="fa fa-undo"></md-icon>
              <span translate="GROUP.UNDO"></span>
            </md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>
    </div>

  </div>
</div>