
<md-dialog class="dialog" aria-label="Organizations Information">
        <md-toolbar class="md-accent md-hue-2">
          <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span class="title">{{vm.title}}</span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
              <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
<div class="oganization-form" id="user">

  <form name="form" class="md-inline-form"  novalidate>
<div layout="column" layout-gt-sm="row">
  <h3 class="ml-2per mb-0">Enter your existing password and your new password.
  </h3>
</div>
    <div layout="column" layout-gt-sm="row">
      <md-input-container flex>
        <input type="password" name="oldpassword" ng-model="vm.user.oldpassword" placeholder="Old Password"
               required>
        <div ng-messages="form.name.$error"
             role="alert">
          <div ng-message="required">
            <span>Old password is required.</span>
          </div>
        </div>
      </md-input-container>
    </div>


    <div layout="column" layout-gt-sm="row" layout-sm="row">

      <md-input-container flex >
        <input type="password" name="newpassword" ng-model="vm.user.newpassword" placeholder="New Password"
               required>
        <div ng-messages="form.newpassword.$error"
             role="alert">
          <div ng-message="required">
            <span>New password is required.</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <input type="password" name="confirmpassword" ng-model="vm.user.confirmpassword" placeholder="Confirm New Password"
               required>
        <div ng-messages="form.confirmpassword.$error"
             role="alert">
          <div ng-message="required">
            <span>Confirm New Password is required.</span>
          </div>
          <div ng-if="vm.user.newpassword != vm.user.confirmpassword && vm.user.confirmpassword">
            <span>Confirm password does not match</span>
          </div>
        </div>
      </md-input-container>

    </div>

  </form>
    <div flex="100" class="form-footer">
      <div class="w-90per mr-auto px-15">
      <md-button ng-if='!vm.changeprocess ' ng-click="vm.changePassword()" padding type="submit" class="md-raised md-accent ml-2per" aria-label="Submit" ng-disabled="form.$invalid || form.$pristine || vm.changePassword.sending || vm.user.newpassword != vm.user.confirmpassword">
          <span>Update</span>
      </md-button>
        <md-button  ng-if='vm.changeprocess' padding type="submit" class="md-raised md-accent ml-2per" aria-label="Submit"
          ng-disabled="true">
          <span>Updating...</span>
        </md-button>
      </div>
    </div>
</div>

</md-dialog>
