<div class="form-wrapper md-whiteframe-1dp flex" id="stats">
  <table class="bordered-table" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th class="text-center">Last 24 Hours</th>
        <th class="text-center">Last 7 days</th>
        <th class="text-center">Last 30 days</th>
        <th class="text-center">YTD</th>
        <th class="text-center">Last 12 months</th>
        <th class="text-center">All times</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stat in [1,2,3,4,5,6]" class="text-center">
        <td>Checklinked</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td colspan="2">6</td>
      </tr>
      <tr>
     </tfoot>
  </table>

</div>