<div class="form-wrapper  md-whiteframe-1dp flex">
  <table class="bordered-table" width="100%" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th  width="15%"></th>
        <th class="text-center" width="10%">Last 24 Hours</th>
        <th class="text-center" width="10%">Last 7 days</th>
        <th class="text-center" width="10%">Last 30 days</th>
        <th class="text-center" width="10%">YTD</th>
        <th class="text-center" width="10%">Last 12 months</th>
        <th class="text-center" width="20%">All time</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stat in  stats" class="text-center">
        <td style="text-align:left;">{{stat.type}}</td>
        <td>{{stat.hours_24}}</td>
        <td>{{stat.last_7_days}}</td>
        <td>{{stat.last_30_days}}</td>
        <td>{{stat.ytd}}</td>
        <td>{{stat.last12month}}</td>
        <td colspan="2">{{stat.all_time}}</td>
      </tr>
     </tbody>
  </table>

</div>