.bordered-table button.md-ink-ripple *{
    padding: 0 !important;
}
div#stats {
    padding: 16px 0;
    padding-top: 30px;
}
#user {

md-input-container {
    width: 50% !important;
    flex:inherit !important;
}
div#stats {
    padding: 16px 0;
}
#stats{
    padding-top: 30px !important;
}

md-input-container input {
    width: 96% !important;                
    margin-left:2%;
    margin-right:2%;    
}
md-input-container label{
    margin-left:2%;
    margin-right:2%;
    font-size: 14px !important;
}
.form-wrapper{
    padding: 0px;
}

}

.form-footer {
    background: #f7f6f6;
}
.ml-2per {
    margin-left: 2%;
}

.w-90per {
    width: 90% !important;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.pl-15per{
padding-left: 15px !important;
}

.mr-auto {margin-left: auto;margin-right: auto;}

.ml-2per {
    margin-left: 2% !important;
}
.px-15{
  padding-left: 15px;
  padding-right: 15px;
}
.userinfo .bordered-table thead th {
    padding-bottom: 0 !important;
}
table.bordered-table.userinfo th button.md-icon-button, table.bordered-table.userinfo th button.md-icon-button * {
    padding: 0 !important;
}
.support-icon{
    color:#fff;
    font-size: 14px;
}
.fff{
   color:#fff !important;
}
.support-buton{
    text-transform: none !important;
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

  .page-layout.simple.tabbed > .content > md-tabs > md-tabs-content-wrapper > md-tab-content{
    padding: 0px !important;
  }
}
