<div class="md-inline-form">
    <p>Enter <span class="text-bold">Checklist</span> Name</p>
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="50">
            <input type="text" name="checklistName" ng-model="vm.verticalStepper.step3.name"
                   placeholder="Checklist Name"
                   required>
            <div ng-messages="checklistName.$error"
             role="alert">
                <div ng-message="required">
                    <span>Checklist Name field is required.</span>
                </div>
            </div>
        </md-input-container>
    </div>
</div>
<md-button class="send-button md-accent md-raised" ng-click="vm.addNewChecklist(vm.verticalStepper.step3.name, vm.verticalStepper.step2.groupID, vm.verticalStepper.step1.folderID )" aria-label="ADD FOLDER"
	ng-disabled="!vm.verticalStepper.step3.name || vm.verticalStepper.step3.name.$pristine"
	translate="CHECKLIST.ADD_NEW_CHECKLIST" translate-attr-aria-label="CHECKLIST.ADD_NEW_CHECKLIST">
	ADD NEW FOLDER
</md-button>

<md-button class="md-accent md-raised" ng-click="vm.cancelChecklistInput()" ar  	ia-label="CANCEL"
	translate="CHECKLIST.CANCEL" translate-attr-aria-label="CHECKLIST.CANCEL">
	CANCEL
</md-button>
