
<div id="login" class="flex-scrollable bg-white" layout="column" ms-scroll>

    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="border-blue">
            <div layout="row" layout-padding  ng-if="!firstLogin"> 
        <img alt="Checklinked Logo" class="pull-left" src="/assets/images/logos/checklinked.png">
       </div>
         <!--    <div class="title" ng-if="!firstLogin"><p>{{ successtoken ? 'Welcome!' : 'Log in' }}</p> -->
               <div class="title"><p>{{ successtoken ? 'Welcome!' : 'Log in' }}</p>
               <p layout-padding ng-if="errtoken" ng-bind="errtoken" ng-class="errtoken ? 'error-text' : '' "></p> 
            </div>
            <div class="title text-left"  ng-if="login_error || firstLogin" ng-bind="login_error" style="color:red; font-size:12px;"></div>

            <form name="loginForm" novalidate ng-submit="vm.login()" ng-if="!firstLogin">
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.email" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password" required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

               <md-button type="submit" class="md-raised md-accent submit-button mx-auto" aria-label="Log in"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine">
                    Log in
                </md-button>
            </form>

            <div  ng-if="!firstLogin" class="register list-none" layout="row" layout-sm="row" layout-align="left center">
                <ul>
                    <li><a class="link" ui-sref="app.create">Create an account</a></li>
                    <li>or</li>
                    <li ><a class="link" ui-sref="app.create">Join an existing account</a></li>
                    <li style="padding-top:15px;"><a class="link" terget="_blank" ui-sref="app.term">Privacy Policy and Terms of Use</a></li>
                </ul>
            </div>
            <div class="row thank" layout-padding ng-if="firstLogin">
                <img alt="Checklinked Logo" src="/assets/images/logos/checklinked.png">
                <h3 class="text-center">
                    <strong>Ready To Go</strong>
                </h3>
                <p>Your all set. You can click OK and jump right in or check out our introductory video and tutorials
                <a href="">HERE</a>
        </p>
                <p>(Help can always be accessed by clicking the ? icon in the upper right corner.)</p>
                <md-button ng-click="firstLogin()" type="submit" class="md-raised md-accent submit-button login-go" aria-label="Ok">
                  Ok
                </md-button>
            </div>
         
        </div>
    </div>

</div>

  
<div class="bd-loader" ng-if="vm.isLoader">
    <md-progress-circular md-diameter="40"></md-progress-circular>
</div>
    


<!-- <div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>CL</span>
            </div>

            <div class="title">Log in to your account</div>
            <div class="title text-left" ng-if="login_error" ng-bind="login_error" style="color:red; font-size:12px;"></div>

            <form name="loginForm" novalidate ng-submit="vm.login()">
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.email" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password" required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

               <md-button type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine">
                    LOG IN
                </md-button>
            </form>

            <div class="register list-none" layout="row" layout-sm="row" layout-align="left center">
                <ul>
                    <li><a class="link" ui-sref="app.create">Create an account</a></li>
                    <li>or</li>
                    <li ><a class="link" ui-sref="app.create">Join an existing account</a></li>
                    <li style="padding-top:25px;"><a class="link" ui-sref="">Privacy Policy and Terms of Use</a></li>
                </ul>
            </div>
            
         
        </div>
    </div>
</div> -->