<!-- DIALOG -->
<md-dialog class="dialog custom-dialog" aria-label="New Task">
        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-hue-2 md-tall" layout="column">
        
            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">Add Direct Contact</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                    translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->
    <form name="contactForm" class="md-inline-form" ng-disabled="vm.searching" ng-submit="vm.queryContacts(vm.findContacts.criteria)">
        <!-- DIALOG CONTENT -->
        <md-dialog-content>

            <md-input-container class="md-icon-float md-block">
                <label translate="CONTACTS.SEARCH_CONTACTS_NAME">Search</label>
                <input ng-model="vm.findContacts.criteria.name" type="text">
            </md-input-container>
<md-input-container class="md-icon-float md-block">
<label translate="CONTACTS.SEARCH_CONTACTS_ORGANIZATION">Search</label>
<input ng-model="vm.findContacts.criteria.organization" type="text">
</md-input-container>
<md-input-container class="md-icon-float md-block">
<label translate="CONTACTS.SEARCH_CONTACTS_CITY">Search</label>
<input ng-model="vm.findContacts.criteria.city" type="text">
</md-input-container>
<md-input-container class="md-icon-float md-block">
<label translate="CONTACTS.SEARCH_CONTACTS_STATE">Search</label>
<input ng-model="vm.findContacts.criteria.state" type="text">
</md-input-container>
        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <md-dialog-content ms-scroll ng-show="vm.findContacts.results.length">

        <table class="simple bordered-table" ms-responsive-table>
                <thead>
                    <tr>
                        <th class="text-right">&nbsp;</th>
                        <th>Name</th>
                        <th>Organization</th>
                        <th>City</th>
                        <th>State</th>
                        <!--<th>Email Address</th>-->
                      
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <td></td>
                    </tr>
                </tfoot>

                <tbody>
                    <tr ng-repeat="res in  vm.findContacts.results" class="customicon">

                        <td class="text-right">
                        
                        
                            <md-button ng-if="vm.friendshipStatus(res.id) == 'Friend'" class="icon-button" aria-label="Linked" ng-click="vm.removeConnectionInvitation(res.id)">
                                <md-icon md-font-icon="icon-google-circles" class="md-accent-fg s18"></md-icon>
                            </md-button>
                        
                        
                        
                            <md-button ng-if="vm.friendshipStatus(res.id) == 'Sent'" class="icon-button" aria-label="Linked" ng-click="vm.removeConnectionInvitation(res.id)">
                                <md-icon md-font-icon="icon-google-circles" class="md-accent-fg s18"></md-icon>
                            </md-button>
                        
                            <md-button ng-if="vm.friendshipStatus(res.id) == 'Strangers'" class="icon-button" aria-label="Invite" ng-click="vm.inviteToConnect(res.id)"
                                ng-disabled="link.requesting">
                                <md-icon md-font-icon="icon-plus-circle-outline" class="md-accent-fg s18"></md-icon>
                            </md-button>
                        
                        
                        </td>   
                     
                        <td class="salary">{{res.name.full}}</td>
                        <td class="name">{{res.organization}}</td>
                        <td class="name">{{res.city}}</td>
                        <td class="name">{{res.state}}</td>
                       
                        <!--<td class="name">{{res.email}}</td>-->
                        
                    </tr>
                </tbody>
            </table>

        </md-dialog-content>

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
              <md-button type="submit" class="md-accent md-button md-raised ng-scope md-ink-ripple md-default-theme submit-button" aria-label="SEARCH"
                         ng-disabled="vm.searching">
                SEARCH
              </md-button>
            </div>


        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>
</md-dialog>
<!-- / DIALOG -->
