<!-- DIALOG -->
<md-dialog class="dialog" aria-label="New Task">

  <form name="contactForm" class="md-inline-form" novalidate
        ng-switch="(which = vm.showWhichInviteContactData(vm.contact))">

    <!-- DIALOG TOOLBAR -->
    <md-toolbar class="md-accent md-hue-2 md-tall" layout="column">

      <!-- TOOLBAR TOP -->
      <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
        <span class="title">{{vm.contact.contacts[which].name.full}}</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                   translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
      <!-- / TOOLBAR TOP -->

    </md-toolbar>
    <!-- / DIALOG TOOLBAR -->

    <!-- DIALOG CONTENT -->
    <md-dialog-content ms-scroll>

      <md-input-container class="md-icon-float md-block">
        <label >First Name</label>
        <input ng-model="vm.contact.contacts[which].name.first" type="text" disabled>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label translate="CONTACTS.LAST_NAME">Last name</label>

        <input ng-model="vm.contact.contacts[which].name.last" type="text" disabled>
      </md-input-container>

      <md-input-container class="md-block">
        <label translate="CONTACTS.COMPANY">Organization</label>

        <input ng-model="vm.contact.contacts[which].organization" type="text" placeholder="Company" disabled>
      </md-input-container>


      <md-input-container class="md-block">
        <label translate="CONTACTS.PHONE_NUMBER">Phone Number</label>

        <input ng-model="vm.contact.contacts[which].phone" type="text" placeholder="Phone number" disabled>
      </md-input-container>

      <md-input-container class="md-block">
        <label translate="CONTACTS.EMAIL">Email Address</label>

        <input ng-model="vm.contact.contacts[which].email" type="email" placeholder="Email Address" disabled>
      </md-input-container>


    </md-dialog-content>
    <!-- / DIALOG CONTENT -->

    <!-- DIALOG ACTIONS -->

    <!-- / DIALOG ACTIONS -->

  </form>

</md-dialog>
<!-- / DIALOG -->
