

#terms {
    .content{
        height: 100%;
        background: rgb(255, 255, 255);
        padding: 10px 15px;
        max-width: 1200px;;
        margin: 0 auto !important;
    }


  
 h1 {
    text-align: center;
}

* {
    font-family: 'Tinos', serif;
}

p {
    font-size: 12pt;
}
ul li {
    font-family: 'Tinos', serif;
    font-size: 12pt;
}

}

