  <div id="invite-form" class="md-whiteframe-8dp">
  <div class="logo md-accent-bg">
    <span>CL</span>
  </div>

  <div class="title" translate="REGISTER.TITLE">Accept Invitation</div>



    <form name="registerForm" novalidate ng-submit="vm.acceptInvite.signup()">
      <md-input-container class="md-block" md-no-float>
        <input name="first" ng-model="vm.acceptInvite.reg.contact.name.first" placeholder="First Name"
               translate translate-attr-placeholder="REGISTER.FIRST"
               required>
        <div ng-messages="registerForm.first.$error" role="alert">
          <div ng-message="required">
            <span translate="REGISTER.ERRORS.FIRSTNAME_REQUIRED">First Name field is required</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" md-no-float>
        <input name="last" ng-model="vm.acceptInvite.reg.contact.name.last" placeholder="Last Name"
               translate translate-attr-placeholder="REGISTER.LAST"
               required>
        <div ng-messages="registerForm.last.$error" role="alert">
          <div ng-message="required">
            <span translate="REGISTER.ERRORS.LASTNAME_REQUIRED">Last Name field is required</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" md-no-float>
        <input name="phone" ng-model="vm.acceptInvite.reg.contact.phone" placeholder="Phone Number"
               translate translate-attr-placeholder="REGISTER.PHONE"
               required>
        <div ng-messages="registerForm.phone.$error" role="alert">
          <div ng-message="required">
            <span translate="REGISTER.ERRORS.PHONE_REQUIRED">Phone Number field is required</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" md-no-float>
        <input type="email" name="email" ng-model="vm.acceptInvite.reg.contact.email" placeholder="Email"
               translate translate-attr-placeholder="REGISTER.EMAIL"
               ng-pattern="/^.+@.+\..+$/" required>
        <div ng-messages="registerForm.email.$error" role="alert" multiple>
          <div ng-message="required">
            <span translate="REGISTER.ERRORS.EMAIL_REQUIRED">Email field is required</span>
          </div>
          <div ng-message="pattern">
            <span translate="REGISTER.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" md-no-float>
        <input type="password" name="password" ng-model="vm.acceptInvite.reg.password" placeholder="Password"
               translate translate-attr-placeholder="REGISTER.PASSWORD"
               required>
        <div ng-messages="registerForm.password.$error" role="alert">
          <div ng-message="required">
            <span translate="REGISTER.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" md-no-float>
        <input type="password" name="password2" ng-model="vm.acceptInvite.reg.password2"
               placeholder="Password (Confirm)"
               translate translate-attr-placeholder="REGISTER.PASSWORD_CONFIRM"
               required>
        <div ng-messages="registerForm.password2.$error" role="alert">
          <div ng-message="required">
            <span translate="REGISTER.ERRORS.PASSWORD_CONFIRM_REQUIRED">Password (Confirm) field is required</span>
          </div>
        </div>
      </md-input-container>

      <div class="terms" layout="row" layout-align="center center">
        <md-checkbox name="terms" ng-model="data.cb1" aria-label="I read and accept" required></md-checkbox>
        <div layout="row" layout-sm="column" layout-align="start center">
          <span translate="REGISTER.READ_ACCEPT">I read and accept</span>
          <a href="#" class="md-accent-color" translate="REGISTER.TERMS_COND">terms and conditions</a>
        </div>
      </div>

      <md-button type="submit" class="md-raised md-accent submit-button" aria-label="CREATE MY ACCOUNT"
                 ng-disabled="registerForm.$invalid || registerForm.$pristine"
                 translate="REGISTER.CREATE_ACCOUNT"
                 translate-attr-aria-label="REGISTER.CREATE_ACCOUNT">
        CREATE MY ACCOUNT
      </md-button>
    </form>

    <div class="login" layout="row" layout-xs="column" layout-align="center center">
      <span class="text" translate="REGISTER.ALREADY_HAVE">Already have an account?</span>
      <a class="link" ng-href="/login/" translate="REGISTER.LOGIN">Log in</a>
    </div>

</div>
