<div layout="column" ng-switch-when="create">

  <div ng-if="vm.currentThread.type == 'notification'">

    <div layout="row"
         layout-align="start start">

      <span class="details ">A new {{vm.currentThread.item.type}} has been added to one of your checklists.</span>
    </div>


    <div layout="row"
         layout-align="start start">
      <span class="details pr-8 font-weight-900">Checklist: </span>
      <span class="details "><a href="/checklist/detail/{{vm.currentThread.item.idCHK}}">{{vm.currentThread.checklist.name}}</a></span>
    </div>

    <div layout="row"
         layout-align="start start">

      <span class="details font-weight-900 pr-8">{{vm.upperCaseFirst(vm.currentThread.item.type)}}: </span>

      <span class="details">{{vm.currentThread.item.text}}</span>
    </div>

  </div>







  <div ng-if="vm.currentThread.type == 'post'">

    <div layout="row"
         layout-align="start start">

      <span class="details" ng-if="vm.currentThread.item.type !== 'checklist'">A new Conversation has been added to a {{vm.currentThread.item.type}} in one of your checklists.</span>
      <span class="details" ng-if="vm.currentThread.item.type == 'checklist'">A new Conversation has been added to one of your checklists.</span>
    </div>

    <div layout="row"
         layout-align="start start">
      <span class="details pr-8 font-weight-900">Checklist: </span>
      <span class="details "><a href="/checklist/detail/{{vm.currentThread.item.idCHK}}">{{vm.currentThread.checklist.name}}</a></span>
    </div>

    <div ng-if="vm.currentThread.item.type !== 'checklist'"
         layout="row"
         layout-align="start start">
      <span class="details font-weight-900 pr-8">{{vm.upperCaseFirst(vm.currentThread.item.type)}}: </span>
      <span class="details">{{vm.currentThread.specific.name}}</span>
    </div>

    <div layout="row"
         layout-align="start start">

      <span class="details font-weight-900 pr-8">Conversation: </span>

      <span class="details">{{vm.currentThread.item.text}}</span>
    </div>

  </div>

</div>
