
<div layout="column" ng-switch-when="edit">
  <div layout="row"
       layout-align="start start">


    <span class="details" ng-if="vm.currentThread.item.type !== 'checklist'">There has been an edit made to a {{vm.currentThread.item.type}} in one of your checklists.</span>
    <span class="details" ng-if="vm.currentThread.item.type == 'checklist'">There has been an edit made to one of your checklists.</span>

  </div>

  <div layout="row"
       layout-align="start start">

    <span class="details font-weight-900 pr-8">Checklist: </span>

    <span class="details "><a href="/checklist/detail/{{vm.currentThread.item.idCHK}}">{{vm.currentThread.checklist.name}}</a></span>
  </div>

  <div ng-if="vm.currentThread.item.type !== 'checklist'"
       layout="row"
       layout-align="start start">

    <span class="details font-weight-900 pr-8">{{vm.upperCaseFirst(vm.currentThread.item.type)}}: </span>

    <span class="details">{{vm.currentThread.item.text}}</span>
  </div>
</div>
