<!-- CONTACT TOOLBAR -->
<md-toolbar class="md-tall md-accent">

    <!-- TOOLBAR TOP -->
    <div class="md-toolbar-tools md-toolbar-tools-top">


        <md-button class="md-icon-button" ng-click="vm.toggleSidenav('right-sidenav')" aria-label="back">
            <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>

    </div>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <div class="md-toolbar-tools md-toolbar-tools-bottom" flex layout="column" layout-align="center center">

        <div layout="column" layout-align="center center">

            <img ng-src="assets/images/avatars/profile.jpg" class="md-avatar avatar contact-avatar huge"
                 alt="{{vm.viewingConversation.nameFull}"/>

            <div class="contact-name">{{vm.viewingConversation.nameFull}}</div>

        </div>

    </div>
    <!-- / TOOLBAR BOTTOM -->

</md-toolbar>
<!-- / CONTACT TOOLBAR -->

<!-- CONTACT CONTENT -->
<md-content class="md-hue-2" flex ms-scroll ms-padding>

    <!-- CONTACT MOOD -->
    <md-card>

        <md-card-title translate="CHAT.CONTACT_DETAILS">Contact Details</md-card-title>

        <md-card-content>

            <div class="mood">
                <b>Organization:</b> {{vm.viewingConversation.organization}}
            </div>
            
            <div class="mood">
                <b>Email Address:</b> {{vm.viewingConversation.email}}
            </div>
            
            <div class="mood">
                <b>Phone Number:</b> {{vm.viewingConversation.phone}}
            </div>

        </md-card-content>

    </md-card>
    <!-- / CONTACT MOOD -->

</md-content>
<!-- / CONTACT CONTENT -->