<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>

  <div class="navigation-simple" layout="column">

    <md-button class="item" aria-label="inbox"
               ng-repeat="folder in vm.folders"
               ng-click="vm.filterFolder(folder.unread)"
               ng-class="{'selected':vm.isFolderActive(folder.id)}">
      <div layout="row" layout-align="start center">
        <md-icon md-font-icon="{{folder.icon}}" class="s16"></md-icon>
        <span class="title">{{folder.title}}</span>
      </div>
    </md-button>

    <md-button class="item" aria-label="sent"
               ng-repeat="sent in vm.outbox"
               ng-click="vm.filterOutbox()"
               ng-show="label.view"
               ng-class="{'selected':vm.isOutboxActive(1)}">
      <div layout="row" layout-align="start center">
        <md-icon md-font-icon="{{sent.icon}}" class="s16"></md-icon>
        <span class="title">{{sent.title}}</span>
      </div>
    </md-button>

    <div class="item subheader" translate="MAIL.FILTERS">Filters</div>
    <md-button class="item"
               ng-repeat="label in vm.labels"
               ng-click="vm.filterThreads(label.id)"
               ng-show="label.view"
               ng-class="{'selected':vm.isLabelActive(label.id)}">
      <div layout="row" layout-align="start center">
        <div class="h-10 w-10 mr-16" ng-class="label.color"></div>
        <span class="title">{{label.title}}</span>
      </div>
    </md-button>

  </div>

</md-content>
<!-- / SIDENAV CONTENT -->
