<!--<div class="row">
  <div id="invitationOrganization" style="text-align:center;" class="col-sm-6 col-sm-offset-3">
    <h4>Invitation From: {{invite.organization.name}}</h4>
    <p ng-show="invite.idCON.length">To accept, use your existing Log In information below.</p>
    <p ng-hide="invite.idCON.length">To accept, create an account using the form below</p>
  </div>
</div>
-->






    <div id="invite-form" class="border-blue">
      <img ng-if="!vm.create.success" alt="Checklinked Logo" class="" src="/assets/images/logos/checklinked.png">


      <div class="title">Accepting this invitation will</div>

      <ul class="text-left">
        <li>Keep your existing username/password</li>
        <li>Leave your current Organization</li>
        <li>Lose access to all your current Organization information</li>
        <li>Maintain your contacts list</li>
        <li>Maintain your direct messages</li>
      </ul>

      <form name="loginForm" novalidate ng-submit="vm.acceptInvite.login()">
        <md-input-container class="md-block" md-no-float>
          <input type="email" name="email" ng-model="vm.acceptInvite.signin.username" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required>
          <div ng-messages="loginForm.email.$error" role="alert" multiple>
            <div ng-message="required">
              <span>Email field is required</span>
            </div>
            <div ng-message="pattern">
              <span>Email must be a valid e-mail address</span>
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float>
          <input type="password" name="password" ng-model="vm.acceptInvite.signin.password" placeholder="Password" required>
          <div ng-messages="loginForm.password.$error" role="alert">
            <div ng-message="required">
              <span>Password field is required</span>
            </div>
          </div>
        </md-input-container>

        <md-button type="submit" class="md-raised md-accent submit-button"
                   ng-disabled="loginForm.$invalid || loginForm.$pristine">
          LOG IN
        </md-button>
      </form>

      <div class="register" layout="row" layout-sm="column" layout-align="center center">
        <span class="text">Don't have an account?</span>
        <a class="link" ng-click="vm.viewToggle('create', 'legacy')">Create Account</a>
      </div>
    </div>



<!--
<form id="login" accept-charset="UTF-8" role="form" ng-submit="acceptInvite.login()" class="panel panel-primary">
    <legend class="panel-heading">Log In</legend>
    <fieldset class="panel-body">
      <ul ng-show="invite.idCON.length">
        <li>
          <h5>Choose this option to:</h5>
        </li>
        <li><i class="fa fa-check text-success"></i>&nbsp;Keep existing username/password</li>
        <li><i class="fa fa-check text-success"></i>&nbsp;Leave current Org</li>
        <li><i class="fa fa-check text-success"></i>&nbsp;Lose access to current Org info</li>
        <li><i class="fa fa-check text-success"></i>&nbsp;Keep only Contacts &amp; Direct Messages</li>
      </ul>


      <div class="form-group">
        <label for="username" class="control-label">Email</label>
        <input id="username" ng-class="{error: optionLogin.username.$invalid}" required="required"
               ng-model="acceptInvite.signin.username" name="username" type="text" value="" autofocus="autofocus"
               class="form-control"/>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input id="password" ng-class="{error: optionLogin.password.$invalid}" required="required"
               ng-model="acceptInvite.signin.password" name="password" type="password" value="" class="form-control"/>
      </div>
    </fieldset>
    <fieldset class="panel-footer">
      <button type="submit" ng-disabled="acceptInvite.accepting" class="btn btn-success loginButton"><span
        tabindex="3" ng-show="acceptInvite.accepting">Checking Credentials...</span><span tabindex="3"
                                                                                          ng-hide="acceptInvite.accepting">Enter</span>
      </button>
    </fieldset>
  </form>
-->
