 <div id="invite-form" class="md-whiteframe-8dp">
      <div class="logo md-accent-bg">
        <span>CL</span>
      </div>

      <div class="title">title</div>

      <md-button
        ng-click="vm.viewToggle('legacy')"
        aria-label="INVITE.LEGACY"
        class="md-raised md-accent submit-button"
        translate="INVITE.LEGACY">
      </md-button>

      <md-button
        ng-click="vm.viewToggle('create')"
        class="md-raised md-accent submit-button"
        aria-label="INVITE.CREATE"
        translate="INVITE.CREATE">
      </md-button>

    </div>
