<div id="contacts" class="page-layout simple tabbed pad-0" layout="column">

  <!-- HEADER -->
 <!-- <div class="header md-accent-bg" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>
      <div layout="column" layout-align="start start">
        <div class="h2">
          <span>Contacts</span>
        </div>
      </div>
    </div>
  </div>
-->
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">
    <md-tabs md-dynamic-height class="">
<md-tab>
  <md-tab-label>
    <a class="link org" href="/user/stats">
  <span translate="" class="notactive">My Profile

  </span>
    </a>
    </md-tab-label>
    <md-tab-body class="pad-0">
      <div ng-if="!vm.type" ng-include="'app/main/contacts/partials/contacts.html'"></div>
      <div ng-if="vm.type=='internal'" ng-include="'app/main/contacts/partials/internal.html'"></div>
      <div ng-if="vm.type=='direct'" ng-include="'app/main/contacts/partials/direct.html'"></div>
      <div ng-if="vm.type=='secondary'" ng-include="'app/main/contacts/partials/secondary.html'"></div>
    </md-tab-body>
 
</md-tab>
      <md-tab ng-disabled="true">
        <md-tab-label>
          <span translate="">Contacts</span>
        </md-tab-label>

        <md-tab-body class="pad-0">
          <div ng-include="'app/main/contacts/partials/contacts.html'"></div>
        </md-tab-body>
      </md-tab>

<md-tab>
  <md-tab-label>
      <a class="link org" href="/organization/stats">
  <span translate="" class="notactive">Organization</span>
  </a>
  </md-tab-label>
</md-tab>

<md-tab>
  <md-tab-label>
      <a class="link org" href="/account">
    <span translate="" class="notactive">Account</span>
    </a>
  </md-tab-label>
</md-tab>


</md-tabs>

  </div>
  <!-- / CONTENT -->

</div>
