{{  }} <div class="simple-table-container md-background-bg md-whiteframe-1dp">

  <table class="simple row-border hover">
    <thead>
    <tr class="hide-xs" ng-if="vm.queue.list.length">
      <th class="secondary-text">
        <div class="table-header">
          <span class="column-title">Checklist Name</span>
        </div>
      </th>
      <th class="secondary-text">
        <div class="table-header">
          <span class="column-title">Inviter</span>
        </div>
      </th>
    <th></th>
    </tr>
    <tr ng-if="!vm.queue.list.length">
      <th class="secondary-text">
        <div class="table-header">
          <span class="column-title">(0) Checklists Pending Assignment</span>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="invite in vm.queue.list | filter: globalSearch.searchTerm track by $index">
      <td>{{invite.name}}</td>
      <td>{{invite.users.inviter.name}} ({{invite.users.inviter.organization}})</td>

      <td class="text-right">

        <md-menu>
          <md-button ng-click="$mdOpenMenu($event)"
                     class="md-icon-button table-md-icon-button" aria-label="More" translate
                     translate-attr-aria-label="">
            <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
          </md-button>

          <md-menu-content width="3">

            <md-menu-item>
              <md-button ng-click="invite.reject()"
                         translate-attr-aria-label="">
                <md-icon class="red-600-fg s18" md-font-icon="icon-trash"></md-icon>
                <span translate="">Reject Checklist</span>
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ng-click="invite.accept()"
                         translate-attr-aria-label="">
                <md-icon class="md-accent-fg s18" md-font-icon="icon-google-circles-invite"></md-icon>
                <span translate="">Accept Checklist</span>
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>

      </td>

    </tr>
    </tbody>
  </table>

</div>
