<div id="" class="simple-table-container md-background-bg md-whiteframe-1dp attachment">

  <div ng-if="!vm.attachments.length" class="info" flex>
    <div class="title m-10">
      No Attachment found.
    </div>
  </div>

  <table ng-if="vm.attachments.length" class="simple row-border hover bordered-table">
    <thead>
      <tr>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Name</span>
            <md-button class="md-icon-button" ng-click="vm.sortBy('file.label')" aria-label="Sort Direction" translate
              translate-attr-aria-label="GROUP.SORT_DIRECTION">
              <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.attachmentOrder!='file.label'" class="s18">
              </md-icon>
              <md-icon md-font-icon="icon-sort-ascending" ng-show="vm.reverse  && vm.attachmentOrder=='file.label'"
                class="s18"></md-icon>
              <md-icon md-font-icon="icon-sort-descending" ng-show="!vm.reverse  && vm.attachmentOrder=='file.label'"
                class="s18"></md-icon>
            </md-button>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Uploaded by</span>
            <md-button class="md-icon-button" ng-click="vm.sortBy('created_by')" aria-label="Sort Direction" translate
              translate-attr-aria-label="GROUP.SORT_DIRECTION">
              <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.attachmentOrder!='created_by'" class="s18">
              </md-icon>
              <md-icon md-font-icon="icon-sort-ascending" ng-show="vm.reverse  && vm.attachmentOrder=='created_by'"
                class="s18"></md-icon>
              <md-icon md-font-icon="icon-sort-descending" ng-show="!vm.reverse  && vm.attachmentOrder=='created_by'"
                class="s18"></md-icon>
            </md-button>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Organization </span>
            <md-button class="md-icon-button" ng-click="vm.sortBy('org_name')" aria-label="Sort Direction" translate
              translate-attr-aria-label="GROUP.SORT_DIRECTION">
              <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.attachmentOrder!='org_name'" class="s18"></md-icon>
              <md-icon md-font-icon="icon-sort-ascending" ng-show="vm.reverse  && vm.attachmentOrder=='org_name'"
                class="s18"></md-icon>
              <md-icon md-font-icon="icon-sort-descending" ng-show="!vm.reverse  && vm.attachmentOrder=='org_name'"
                class="s18"></md-icon>
            </md-button>
          </div>
        </th>
        <th class="secondary-text hide-xs" colspan="2">
          <div class="table-header">
            <span class="column-title">Type </span>
            <md-button class="md-icon-button" ng-click="vm.sortBy('storage.temporary')" aria-label="Sort Direction"
              translate translate-attr-aria-label="GROUP.SORT_DIRECTION">
              <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.attachmentOrder!='storage.temporary'" class="s18">
              </md-icon>
              <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.reverse  && vm.attachmentOrder=='storage.temporary'"
                class="s18"></md-icon>
              <md-icon md-font-icon="icon-sort-descending"
                ng-if="!vm.reverse  && vm.attachmentOrder=='storage.temporary'" class="s18"></md-icon>
            </md-button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="attachment"
      ng-repeat="attachment in vm.attachments | orderBy:vm.attachmentOrder:vm.reverse | filter: globalSearch.searchTerm track by $index">
      <tr>
        <td colspan="5" class="breadcrum" style="border-bottom:none !important">
          <!-- <span class="capitalize"  ng-if="attachment.parent.type=='checklists'"><a href="/projects">Project</a> - <a href="/workflows/{{attachment.parent.project_id}}">Workflow</a> - <a href="/checklist/detail/{{attachment.parent.checklist_id}}">checklist</a></span>
              <span class="capitalize"  ng-if="attachment.parent.type=='sections'"><a href="/projects/">Project</a> - <a href="/workflows/{{attachment.parent.project_id}}">Workflow</a> - <a href="/checklist/detail/{{attachment.parent.checklist_id}}">checklist</a> - section</span>
              <span class="capitalize"  ng-if="attachment.parent.type=='headings'"><a href="/projects/">Project</a> - <a href="/workflows/{{attachment.parent.project_id}}">Workflow</a> - <a href="/checklist/detail/{{attachment.parent.checklist_id}}">checklist</a> - heading</span>
              <span class="capitalize"  ng-if="attachment.parent.type=='items'"><a href="/projects/">Project</a> - <a href="/workflows/{{attachment.parent.project_id}}">Workflow</a> - <a href="/checklist/detail/{{attachment.parent.checklist_id}}">checklist</a> - section - heading - line</span> -->
          <span class="capitalize"><a href="/projects"
              ng-if="attachment.parent_name.folder_name">{{attachment.parent_name.project_name}}</a>
            <a href="/workflows/{{attachment.parent.project_id}}" ng-if="attachment.parent_name.project_name"> -
              {{attachment.parent_name.folder_name}} - </a>
            <a ng-if="attachment.parent.checklist_id" href="/checklist/detail/{{attachment.parent.checklist_id}}">
              {{attachment.parent_name.checklist_name }}</a>
          </span>
        </td>
      </tr>
      <tr>
        <td><span class="link-color capitalize" ng-bind="attachment.file.label"></span></td>
        <td><span class="link-color">{{attachment.created_by}}</span></td>
        <td><span class="link-color">{{attachment.org_name}}</span></td>
        <td>{{ attachment.storage.temporary | extension }}</span></td>
        <td width="100%" style="min-width:100% !important; max-width:100%">
          <md-menu>
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button table-md-icon-button" aria-label="More"
              translate translate-attr-aria-label="GROUP.MORE">
              <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
            </md-button>
            <md-menu-content width="3">
              <md-menu-item>
                <md-button ng-click="vm.downloadAttachment($ev,attachment.storage.temporary)"
                  aria-label="Download Attachment">
                  <md-icon md-font-icon="icon-cloud-download"></md-icon>
                  <span>Download Attachment</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>

        </td>
      </tr>
    </tbody>
  </table>

</div>