

<div class="simple-table-container md-background-bg md-whiteframe-1dp">

    <div layout="row" layout-align="start center" class="pl-25">
      <md-progress-circular ng-disabled="!vm.excels.progress" md-mode="indeterminate" md-diameter="20">
      </md-progress-circular>
    </div>
  
    <table class="bordered-table" cellpadding="0" cellspacing="0" ms-responsive-table>
      <thead>
        <tr>
          <th width="10%" class="text-left" *ng-if="vm.sub_excel.all_spreadsheets.length">
            Database
          </th>
          <th width="5%" class="text-left" *ng-if="vm.sub_excel.all_spreadsheets.length">
            Description
          </th>
          <th width="20%" class="text-right" colspan={{vm.origColspanLength}}>
              <md-menu ng-if="!$root.viewAs.notMe">
                  <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button table-md-icon-button"
                      aria-label="Sort" translate translate-attr-aria-label="DASHBOARD.ARRANGE">
                      <md-icon md-font-icon="icon-dots-horizontal s18"></md-icon>

                  </md-button>

                  <md-menu-content width="3">


                      <md-menu-item>
                          <md-button ng-click="vm.uploadNewExcel($event)">
                              <md-icon class="md-accent-fg s18" md-font-icon="icon-square-inc"></md-icon>
                              <span >Upload new Excel</span>
                          </md-button>
                      </md-menu-item>

                      
                  </md-menu-content>
              </md-menu>
          </th>
          
        </tr>
  
      </thead>
      <tbody ng-repeat="sheet in vm.all_spreadsheets | filter: globalSearch.searchTerm track by $index">
        <tr ng-class="{'headingcolor': vm.excels.viewing && $index==0}"
          ng-click="myList = myList == true ? false : true;">
          <td ng-class="{'md-accent-fg': !vm.excels.viewing}" class="text-left">
            <md-icon ng-if=" !sheet.display" ng-click="vm.excels.view(sheet, $index)"
              class="fa fa-angle-down  s18 pointer" md-font-icon="icon-file-document"></md-icon>
            <md-icon ng-if=" sheet.display" ng-click="vm.excels.clear(sheet, $index)" class="s18 pointer"
              md-font-icon="fa fa-angle-up"></md-icon>
            {{sheet.name}}
  
          </td>
  
          <td class="text-left">
            {{sheet.description}}
          </td>
          <td class="text-left" colspan={{vm.origColspanLength}}></td>
         
        </tr>
  
  
  <!-- myList  &&  -->
        <tr ng-show=" sheet.display && vm.excel_open_id==sheet.id">
  
  
          <td class="capitalize" ng-repeat="heading in sheet.data.heading track by $index">
            <b> {{heading}} </b>
          </td>
          <td></td>
        </tr>
        <!-- myList && -->
        <tr ng-show=" sheet.display && vm.excel_open_id==sheet.id" ng-repeat="record in sheet.data.records">

          <td ng-repeat="heading in sheet.data.heading track by $index">
            {{record[heading]}}
          </td>
          <td></td>
        </tr>

        
      </tbody>
      <tfoot ng-if="!vm.all_spreadsheets.length">
        <tr >
          <td colspan=3 class="p-20"> No record found </td>
        </tr>
      </tfoot>
    </table>
  
  
  </div>