<div  class="simple-table-container md-background-bg md-whiteframe-1dp datapoint">

  <table class="simple row-border hover bordered-table">
    <thead>
      <tr>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Name</span>
            <md-button class="md-icon-button"  ng-click="vm.sortBy('file.label')"
            aria-label="Sort Direction" translate translate-attr-aria-label="GROUP.SORT_DIRECTION">
            <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.attachmentOrder!='file.label'" class="s18"></md-icon>
            <md-icon md-font-icon="icon-sort-ascending"  ng-show= "vm.reverse  && vm.attachmentOrder=='file.label'" class="s18"></md-icon>
            <md-icon md-font-icon="icon-sort-descending" ng-show="!vm.reverse  && vm.attachmentOrder=='file.label'" class="s18"></md-icon>
          </md-button>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Author</span>
            <md-button class="md-icon-button"  ng-click="vm.sortBy('created_by')"
            aria-label="Sort Direction" translate translate-attr-aria-label="GROUP.SORT_DIRECTION">
            <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.attachmentOrder!='created_by'" class="s18"></md-icon>
            <md-icon md-font-icon="icon-sort-ascending"  ng-show= "vm.reverse  && vm.attachmentOrder=='created_by'" class="s18"></md-icon>
            <md-icon md-font-icon="icon-sort-descending" ng-show="!vm.reverse  && vm.attachmentOrder=='created_by'" class="s18"></md-icon>
          </md-button>
          </div>
        </th>
        <th class="secondary-text hide-xs" >
          <div class="table-header">
            <span class="column-title">Type </span>
            <md-button class="md-icon-button"  ng-click="vm.sortBy('storage.temporary')"
            aria-label="Sort Direction" translate translate-attr-aria-label="GROUP.SORT_DIRECTION">
            <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.attachmentOrder!='storage.temporary'" class="s18"></md-icon>
            <md-icon md-font-icon="icon-sort-ascending"  ng-if= "vm.reverse  && vm.attachmentOrder=='storage.temporary'" class="s18"></md-icon>
            <md-icon md-font-icon="icon-sort-descending" ng-if="!vm.reverse  && vm.attachmentOrder=='storage.temporary'" class="s18"></md-icon>
          </md-button>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Description </span>
            <md-button class="md-icon-button"  ng-click="vm.sortBy('org_name')"
            aria-label="Sort Direction" translate translate-attr-aria-label="GROUP.SORT_DIRECTION">
            <md-icon md-font-icon="icon-sort-ascending" ng-if="vm.attachmentOrder!='org_name'" class="s18"></md-icon>
            <md-icon md-font-icon="icon-sort-ascending"  ng-show= "vm.reverse  && vm.attachmentOrder=='org_name'" class="s18"></md-icon>
            <md-icon md-font-icon="icon-sort-descending" ng-show="!vm.reverse  && vm.attachmentOrder=='org_name'" class="s18"></md-icon>
          </md-button>
          </div>
        </th>
        <th  class="text-right">

          <md-menu>
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button table-md-icon-button" aria-label="More"
              translate translate-attr-aria-label="">
              <md-icon md-font-icon="icon-dots-horizontal s18"></md-icon>
            </md-button>

            <md-menu-content width="3">
                
              <md-menu-item>
                  <md-button ng-click="vm.DataPointDialog('save')" translate-attr-aria-label="">
                    <md-icon class="md-accent-fg s18" md-font-icon="icon-plus-circle-outline"></md-icon>
                    <span translate=""> New Data Point</span>
                  </md-button>
                </md-menu-item>

            </md-menu-content>
          </md-menu>
        </th>
      
      </tr>      
    </thead>
    <tbody  class="attachment" >

          <tr ng-repeat="dataPoint in vm.dataPoints">
              <td><span class="link-color capitalize" ng-bind="dataPoint.name"></span></td>
              <td><span class="link-color">{{dataPoint.user.name}}</span></td>
              <td><span class="link-color">{{dataPoint.type}}</span></td>
              <td>{{ dataPoint.explanation }}</span></td>
              <td class="text-right">
                <md-menu >
                  <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button table-md-icon-button" aria-label="More"
                    translate translate-attr-aria-label="">
                    <md-icon md-font-icon="icon-dots-vertical s18"></md-icon>
                  </md-button>
      
                  <md-menu-content width="3">
                    
                    <md-menu-item>
                      <md-button ng-click="vm.DataPointDialog('update')" translate-attr-aria-label="">
                        <md-icon class="md-accent-fg s18" md-font-icon="icon-pencil"></md-icon>
                        <span translate="">Edit Data Point</span>
                      </md-button>
                    </md-menu-item>
      
                
                      <md-menu-item>
                        <!-- <md-button ng-click="vm.deleteDataPoint( dataPoint.id)" translate-attr-aria-label=""> -->
                        <md-button ng-click="vm.deleteDataPoint( dataPoint)" translate-attr-aria-label="">
                          <md-icon class="red-600-fg s18" md-font-icon="icon-trash"></md-icon>
                          <span translate="">Delete Data Point</span>
                        </md-button>
                    </md-menu-item>
      
                  </md-menu-content>
                </md-menu>
              </td>
          </tr>
    </tbody>
  </table>

</div>